
{# base/components/point-contact/point-contact.twig #}

{#
   @param {Post Obj} post
#}

{# Parameters #}
{% set pointContactPost = teamMember ?? null %}

{# Output #}
{% import 'macros/macros.twig' as mcro %}

{% if pointContactPost %}

  <div id="pointContact" data-state="init"  class="point-contact">

    <div class="relative vh-75-l w-100 mt4-l pb4 pb0-l">

      {# background purposes #}
        <div class="two-tone-backgrounds" id="pointOfContactTwoTone">
          <div class="
          two-tone-1
          absolute
          z-index
          left-0
          h-100
          hero-overlay
          bg-half-baked-green
          top-0"></div>

          <div class="
          two-tone-2
          absolute
          z-index
          right-0
          h-100
          hero-overlay
          bg-persian-green
          top-0
          dn dn-m db-l db-xl"></div>
        </div>

      <div class="absolute-l absolute--fill h-100 w-100">

      {% embed "parts/container-extra-small/container-extra-small.twig" with { classes: 'h-100' } %}

        {% block container %}
          
          <div class="flex flex-column flex-column-reverse 
            flex-row-l 
            img-text-left h-100 pt4">

            <div class="col-xs-12 col-md-6 col-lg-6 
            pr0 pr4-l pr4-xl
            flex flex-column justify-center 
            tr-l off-white
            text-reveal" id="pointOfContactCopy">

              <h3 class="{{display2}} tr measurecenter ml-auto-l mr0-l mb2 mt0 tc tr-l">Meet {{pointContactPost}}</h3>
                
              <h3 class="{{heading1}} {{headingStyle}} mb0 tc tr-l ">{{pointContactPost._anomalous_meta_teamMemberPosition}} </h3>

              <div class="w-100 tc tr-l ml-auto-l">
                
                {{pointContactPost.content}}
                
                <a href="mailto:{{pointContactPost._anomalous_meta_teamMemberEmail}}" class="{{button}}
                bg-gravel bg-off-white-hover gravel-hover off-white transition-1">get in touch</a>
                
              </div>

            </div>

            <div class="col-xs-12 col-md-6 col-lg-5 pl0 pl4-l pl4-xl relative z-1 mb3 mb0-l flex flex-column justify-center">

              {% include "parts/progressive-image/progressive-image.twig" with { 
                obj: pointContactPost.featuredImage,
                ratio: '1x1',
                classes: 'z-1 aspect-ratio--1x1-l 
                progressive-image-background slide-in-image-4',
                id: 'pointOfContactImage'
              } %}

          </div>

        {% endblock container %}

      {% endembed %}

      </div>

    </div>

  </div>

{% endif %}

