{# templates/html/html.twig #}

{#
 * @usedby global.twig
 * @requires constants, mustard, icons
#}

{% spaceless %}

  <!DOCTYPE html>
  <html class="restrict smart-browser">
      <head>
          {% block head %}
            <meta charset="{{ function( 'bloginfo', 'charset' ) }}">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {{ wp_head }}
          {% endblock %}

          <link rel="apple-touch-icon" sizes="152x152" href="{{site.theme.uri}}/dist/img/favicon/apple-touch-icon.png">
          <link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.uri}}/dist/img/favicon/favicon-32x32.png">
          <link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.uri}}/dist/img/favicon/favicon-16x16.png">
          <link rel="manifest" href="{{site.theme.uri}}/dist/img/favicon/site.webmanifest">
          <link rel="mask-icon" href="{{site.theme.uri}}/dist/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
          <meta name="msapplication-TileColor" content="#da532c">
          <meta name="theme-color" content="#ffffff">
        </head>
          <!--[if lt IE 7]>      <body class="ie6">    <![endif]-->
          <!--[if IE 7]>         <body class="ie7">    <![endif]-->
          <!--[if IE 8]>         <body class="ie8">    <![endif]-->
          <!--[if IE 9]>         <body class="ie9">    <![endif]-->
          <!--[if gt IE 9]>      <body class="ie10+">  <![endif]-->
          <!--[if !IE]><!-->     <body class="{{global.body_class}} montserrat fw3 gravel bg-white">                <!--<![endif]-->

          {% if mustard != true and icons != '' %}
              {{ icons }}
          {% endif %}

          {% block body %}
          {% endblock %}

          <script>
            window.ajax_url = "{{constant('LJSHERLOCK_AJAXURL')}}";
          </script>
          {{ wp_footer }}
      </body>
  </html>

{% endspaceless %}