
{# parts/PLImage/PLImage.twig #}

{#
   Video
#}

{# Parameters #}
{% set progressiveImageObj = obj ?? null %}
{% set progressiveImageRatio = ratio ?? null %}
{% set progressiveImageClases = classes ?? null %}

{# Variables #}
{# {% set videoCLassesDefault = 'video--block ' %}
{% set videoCLasses = videoCLassesDefault ~ videoCLasses %} #}

{# Output #}

{% import 'macros/macros.twig' as mcro %}

<div class="
  aspect-ratio aspect-ratio--{{progressiveImageRatio}} 
  overflow-hidden progressive-image-placeholder
  {{progressiveImageClases}}" 
  data-ratio="{{progressiveImageRatio}}"
  data-src-desktopx2="{{progressiveImageObj.desktopx2}}" 
  data-src-desktop-1x1="{{progressiveImageObj.desktop1x1}}" 
  data-src-desktop="{{progressiveImageObj.desktop}}" 
  data-src-portable="{{progressiveImageObj.tablet}}"
  data-src-mobile="{{progressiveImageObj.mobile}}"
  data-src-mobile-1x1="{{progressiveImageObj.mobile1x1}}" 
>

  <img src="{{progressiveImageObj.tiny}}" 
  class="progressive-image progressive-image-tiny overflow-hidden absolute w-100 absolute--fill" />

  {% block content %}{% endblock %}

</div>