{# base/components/footer/footer.twig #}


{# Parameters #}
{% set headerAttrs = attrs ?? null %}

{# Output #}
{% import 'macros/macros.twig' as mcro %}

<div id="footer" class="relative z-1 w-100 pv4 
bg-gravel off-white" data-state="init">

  <div class="mw9 center flex flex-column flex-row-l">

    <div class="col-xs-12 col-md-8 col-lg-8">

      {% if global.anomalous_contacts.contactsInFooter %}

        <div class="flex flex-column flex-row-m flex-row-l">
          <div class="col-xs-12 col-sm-4 mb4 mb0-ns ph4-xl ph3 tc tc-m tl-l"> 

      {% else %}

        <div class="flex flex-column flex-cloumn-m flex-row-l">    
          <div class="cmb4 mb0-ns ph4-xl ph3 tc tc-m tl-l">

      {% endif %}
        
          <div class="mb4">

            <p class="f5-xl f6 montserrat fw3 mv2">{{global.company_info.address}}</p>
						<a href="tel:{{global.company_info.telephoneNo}}" class="db f5-xl f6 montserrat fw3 mv2 off-white persian-green-hover no-underline">{{global.company_info.telephoneNo}}</a>
						<a href="mailto:{{global.company_info.emailAddress}}" class="db f5-xl f6 montserrat fw3 mv2 off-white persian-green-hover no-underline">{{global.company_info.emailAddress}}</a>
          
          </div>
          
          <div class=" flex items-center justify-center justify-start-l">

            {% for item in global.social_media %}

              <a href="{{item.profileLink}}" class="dib h1 mr3 white persian-green-hover">

							  <img src="{{site.theme.uri}}/dist/img/png/{{item.platform}}-logo-white.png" class="{{item.platform}}-logo db center h1" />
						  
              </a>
              
            {% endfor %}

					</div>

        </div>

        {% if global.anomalous_contacts.contactsInFooter %}
        
          <div class="col-xs-12 col-sm-4 ph4-xl ph3 br-m br-l bl-m bl-l b--off-white tc tc-m tl-l">
            
            {% set visual = global.anomalous_contacts.visual.0 %}
            {% if  visual.telephoneNumber or visual.emailAddress %}
            
              <div class="mb4">
                <p class="f5-xl f6 montserrat fw3 mv2">Anomalous Visuals</p>
                {% if visual.telephoneNumber %}
                  <a href="mailto:{{visual.telephoneNumber}}" class="db f5-xl f6 montserrat fw3 mv2 off-white persian-green-hover no-underline">{{visual.telephoneNumber}}</a>
                {% endif %}
                {% if visual.emailAddress %}
                  <a href="mailto:{{visual.emailAddress}}" class="db f5-xl f6 montserrat fw3 mv2 off-white persian-green-hover no-underline">{{visual.emailAddress}}</a>
                {% endif %}
              </div>

            {% endif %}
            
            {% set space = global.anomalous_contacts.space.0 %}
            {% if  space.telephoneNumber or space.emailAddress %}

              <div class="mb4 tc tc-m tl-l">
                <p class="f5-xl f6 montserrat fw3 mv2">Anomalous Space</p>
                {% if space.telephoneNumber %}
                  <a href="mailto:{{space.telephoneNumber}}" class="db f5-xl f6 montserrat fw3 mv2 off-white persian-green-hover no-underline">{{space.telephoneNumber}}</a>
                {% endif %}
                {% if space.emailAddress %}
                  <a href="mailto:{{space.emailAddress}}" class="db f5-xl f6 montserrat fw3 mv2 off-white persian-green-hover no-underline">{{space.emailAddress}}</a>
                {% endif %}
              </div>

            {% endif %}

          </div>

          <div class="col-xs-12 col-sm-4 pl3 pl4-xl tc tc-m tl-l">

            {% set events = global.anomalous_contacts.events.0 %}
            {% if  events.telephoneNumber or events.emailAddress %}
            
            <div class="mb4">
                <p class="f5-xl f6 montserrat fw3 mv2">Anomalous Events</p>
                {% if events.telephoneNumber %}
                  <a href="mailto:{{events.telephoneNumber}}" class="db f5-xl f6 montserrat fw3 mv2 off-white persian-green-hover no-underline">{{events.telephoneNumber}}</a>
                {% endif %}
                {% if events.emailAddress %}
                  <a href="mailto:{{events.emailAddress}}" class="db f5-xl f6 montserrat fw3 mv2 off-white persian-green-hover no-underline">{{events.emailAddress}}</a>
                {% endif %}
              </div>

            {% endif %}

            {% set sound = global.anomalous_contacts.sound.0 %}
            {% if  sound.telephoneNumber or sound.emailAddress %}

              <div class="mb4 tc tc-m tl-l">
                <p class="f5-xl f6 montserrat fw3 mv2">Anomalous Sound</p>
                {% set events = global.anomalous_contacts.sound.0 %}
                {% if sound.telephoneNumber %}
                  <a href="mailto:{{sound.telephoneNumber}}" class="db f5-xl f6 montserrat fw3 mv2 off-white persian-green-hover no-underline">{{sound.telephoneNumber}}</a>
                {% endif %}
                {% if sound.emailAddress %}
                  <a href="mailto:{{sound.emailAddress}}" class="db f5-xl f6 montserrat fw3 mv2 off-white persian-green-hover no-underline">{{sound.emailAddress}}</a>
                {% endif %}
              </div>
              
            {% endif %}

          </div>
        
        {% endif %}

      </div>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4 off-white 
    mt4 tc mt0-l tr-l pr4-l">
      {# footer menu #}
      <div class="flex justify-center justify-end-l mb3">
        {% for item in global.menus.footer.items %}
            <a href="{{item.link}}" class="db mr2 f6 montserrat fw5 mv2 no-underline off-white persian-green-hover">
              {{item.title}}
            </a>
        {% endfor %}
      </div>
      <div class="f5 f6-xl montserrat fw3 mb3">
        {{global.company_info.legalWysiwyg}}
      </div>
      {# <div class="mb3">
        <a href="https://www.twoboys.co.uk" target="_blank" class="f6 montserrat fw3 off-white persian-green-hover no-underline">Site by TwoBoys</a>
      </div> #}
    </div>
  </div>
</div>
