{% spaceless %}
{# templates/minimal/minimal.twig #}

  {#
  *  @name minimal
  *  @file templates/minimal.twig
  *  @usedby frontpage.twig, page.twig, products.twig, staff.twig
  #}

  {# Global #}

  {# Parameters #}

  {# Variables #}

  {# Output #}

  

    <div id="pageTitle" data-title="{{wp_title}}"></div>

    {% block app %}{% endblock %}

    {% include 'parts/footer/footer.twig' %}

  {% endspaceless %}