
img {
   height: auto;
}

ul {
  margin-bottom: 0;
}

#primarySiteMenuModal .current_page_item,
#workCategories .current-menu-item {
  color: $gravel;
}

.image-columns {
  img {
    width: calc(50% - .25em);
    height: auto;
    display: inline-block;
    max-width: 50%;
    &:first-child {
      margin-right: .5em;
    }
  }
}

.anomalous-btn.current_page_item {
  background-color: $gravel;
}

p a {
  transition: color .3s ease;
  color: $persian-green;
  text-decoration: none;
  &:hover, &:visited {
    color: $half-baked-green;
  }
}