{# parts/entry-content/entry-content.twig #}

{#


#}

{# Parameters #}
{% set entryContentPost = post ?? null %}
{% set entryContentClasses = classes %}
{% set entryContentId = id %}

{# Output #}
{% if entryContentPost %}

  <div class="entry-content ml-auto tr {{entryContentClasses}} text-reveal"
   id="{{entryContentId}}">

    {% set terms = entryContentPost.terms('work-categories') %}

    {% if terms|length > 0 %}

      {% for term in terms %}

        {% if term.parent != 0 %}

          <a href="{{term.link}}" class="db mb2 tracked persian-green gravel-hover no-underline {{heading1}} ttu din">
            /{{term.name}}
          </a>

        {% endif %}

      {% endfor %}

    {% endif %}

    {% set client = entryContentPost.terms('client').0 %}

    {% if client %}

      <span class="db mb3 tracked persian-green {{heading1}}  ttu din">
        Client: <a href="{{client.link}}" class="dib mb2 tracked persian-green gravel-hover no-underline {{heading1}} ttu din">{{client.name}}</a>
      </span>  
    
    {% endif %}
  

    <h1 class="{{display2}} ma0">
      {{entryContentPost.title ?? 'No Title'}}
    </h1>

      {% if post.custom._anomalous_meta_project_credits %}

           {% include "parts/btn/btn.twig" with { 
          textNode: 'credits',
          id: 'projectCredits', 
          postID: post.id } 
        %}

      {% endif %}

    <span class="db bb b--persian-green pb3 bw3 w3 ml-auto" style=""></span>
    
    {{entryContentPost.content}}

  </div>

 {% endif %}
