

{# parameters #}
{% set verticalBtntitle = title %}

{# variables #}
{% set verticalBtnClasses = 'pointer bn transition-1 bg-persian-green-hover no-underline ttu bg-gravel din pa1 pv2 off-white tracked-mega fixed right-1 top-0 bottom-0 z-4 outline-0' %}

<button id="contactModalOpen"
  class="{{verticalBtnClasses}}" 
  style="min-width: 25px; margin: auto; height:160px;">
  <span class="db tou" style="writing-mode: vertical-rl;">{{verticalBtntitle}}</span>
</button>