@keyframes fadeInMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
};

.content-hide {
  will-change: opacity;
  opacity: 0;
  &[data-state=ready] {
    animation: .75s ease-in 2.2s fadeInMain forwards;
  }
} 

@keyframes slideMainWithMenu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-35vw);
  }
}
@keyframes slideMainBack {
  0% {
    transform: translateX(-35vw);
  }
  100% {
    transform: translateX(0);
  }
}

main {
  will-change: transform;
  &[data-state=hide] {
    transform: translateX(-100vw);
  }
  &[data-state=show] {
    transform: translateX(0vw);
  }
  &[data-state=menushow] {
    animation: .5s ease slideMainWithMenu forwards;
  }
  &[data-state=menuhide] {
    animation: .5s ease slideMainBack forwards;
  }
}