{# templates/app/app.twig #}

{#
  App Template
  @param {Post Object} post
#}

{# Output #}
{% extends  'templates/global/global.twig' %}

{% block main %}

  {% set state = "show" %}

  {% import 'macros/macros.twig' as mcro %}

  {# check if this is an ajax call #}
  {% if request_body.ajax != 1 %}

    {% include "parts/header/header.twig" with { 
      headerClassnames: 'fixed z-1 top-0' 
    } %}
    {% include "parts/menu-modal/menu-modal.twig"  %}
    {% include "parts/contact-modal/contact-modal.twig"  %}
    {% include "parts/squares/squares.twig" with { state: 'hidden' } %}

    {% include "parts/vertical-btn/vertical-btn.twig" with { title: 'contact' } %}
    
    {# {% if post.custom._anomalous_meta_project_credits %}

      {% embed "parts/credits-modal/credits-modal.twig" %}
        {% block content %}

          {{post.custom._anomalous_meta_project_credits}}
        
        {% endblock %}
      {% endembed %}

    {% endif %} #}

  {% endif %}
  
    {% block beforeMain %}

    {% endblock %}

  {% set appInnerHTML %}

    {% block app %}{% endblock %}

  {% endset %}

  {% if request_body.ajax == 1 %}

    {{appInnerHTML}}

    {% set state = "hide" %}

  {% else %}

    <main id="main" class="z-2 relative" data-state="{{state}}">
      
      <div id="pageTitle" data-title="{{wp_title}}"></div>

      {{appInnerHTML}}

      {% include 'parts/footer/footer.twig' %}
    
    </main>

  {% endif %}

{% endblock %}
