{# base/components/video.twig #}

{#
   Video

   @bem {Array} ()
    {
       block {String}
       element {String}
       modifier {Array}
    }
    @attrs (Array)
    @sources (array)
    {
      src
    }

#}
{# Parameters #}
{% set videoSources = sources ?? null %}
{% set videoThumbnail = poster %}
{% set videoAttrs = attrs ?? null %}
{% set videoClasses = classes ?? null %}
{% set VideoplayIcon = playIcon ?? 'play-icon-white' %}

{# Variables #}
{% set videoClassesDefault = 'video--block ' %}
{% set videoClasses = videoClassesDefault ~ videoClasses %}

{# Output #}
{% if videoSources %}

   {% import 'macros/macros.twig' as mcro %}

   {% set videoBlockInnerHTML %}

    {# Output #}
    {% if videoSources %}

      {% set videoInnerHTML %}
      
          {% if videoSources|length > 0 %}

            {% for key,source in videoSources %}

              <source src="{{source}}" type="video/mp4"/>
                
            {% endfor %}

          {% endif %}

          {# {{ mcro.createHTMLTag( 'img', { src: videoThumbnail }, 'absolute absolute--fill', true ) }} #}

      {% endset %}

      <video poster="{{videoThumbnail}}" class="h-100">

        {{videoInnerHTML}}

      </video>

    {% endif %}

      <button class="video__playpause off-white" id="playpause" controls>

        <img src="{{site.theme.uri}}/dist/img/png/{{VideoplayIcon}}.png" class="h3 {{videoPlayIcon}}"/>

      </button>

   {% endset %}

   {{ mcro.createHTMLTag( 'div', videoAttrs, videoClasses, videoBlockInnerHTML ) }}

 {% endif %}

