
  {# 
    templates/single-work/single-work.twig 
  #}

  {# Service 

    @param {Array} mainVideo
      videoURL' {String}
      videoFallbackImage {String}

    @param {Array} testimonial
      testimonialContent {String} 
      testimonialAuthor {String}

    ---- template #2 ----

    @param {Array} contentVideo
      {String} url
      {String} fallbackImage

    @param {String} testimonialVideo
      {String} url
      {String} fallbackImage
  #}

  {# Parameters #}
  {% set workPost = post ?? null %}

  {# Output #}
  {% if workPost is not null %}

    {% extends  'templates/app/app.twig' %}
    
    {% import 'macros/macros.twig' as mcro %}

    {% block app %}

    <div class=" dn db-m db-l absolute z-index right-0 h-100 w-100 ml-auto hero-overlay bg-bonjour-grey half-background top-0" 
      data-state="show">
    </div>
      
      <div class="pt6 bg-off-white" id="workPost">

        <section class="" id="mainContentSection">

          <div class="relative">

            <div class="relative z-2">

            {% embed "parts/container-large/container-large.twig" %}

              {% block container %}

                  <div class="row">
                    
                    <div class="col-lg-8 col-md-6 col-xs-12
                      pr3-m pr3-l pr4-xl 
                      flex flex-column justify-start
                      mb0-l mb0-xl mb3
                    ">

                      <div class="block-reveal" id="singleWorkHeroVideo">

                        {% if post.custom.postVideoDirect %}
              
                          {% include "parts/video/video.twig" with { 
                            classes: 'work-video bg-gravel',
                            sources: [ post.custom.postVideoDirect.0.url ],
                            poster: post.custom.postVideoDirect.0.poster,
                            attrs: { 'data-state': 'paused' },
                            playIcon: 'play-icon-white'
                          } %}  

                        {% elseif post.custom.postVideoIframe %}
                            
                          {% include "parts/iframe-video/iframe-video.twig" with { 
                            iframe: post.custom.postVideoIframe.0
                          } %}  

                        {% else %}

                          {% include "parts/progressive-image/progressive-image.twig" with { 
                            obj: post.featuredImage,
                            ratio: '16x9',
                            classes: 'z-1 progressive-image-background',
                            id: 'workHeroImage'
                          } %}

                        {% endif %}
                        
                      </div>

                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 
                      pl3-m pl3-l pl3-xl
                      mb3 mb0-m mb0-l mb0-xl
                    ">

                      {% include "parts/entry-content/entry-content.twig" with {
                        id: 'entryContentTemplate2'
                      } %}

                    </div>
                    
                  </div>

                {% endblock %}
                
              {% endembed %}

            </div>

          </div>

        </section>

        <section id="testimonialSection">

          <div class="pv5 pv0-l pv0-xl relative z-2">

            {% embed "parts/container-large/container-large.twig" %}
              {% block container %}

                <div class="row mv2 mv3-l mv5-xl">
                  
                  <div class="col-lg-8 col-md-6 col-xs-12
                    pr3-m pr3-l pr4-xl 
                    dn flex-l flex-column justify-start
                  ">

                    <div class="relative w-100 row">

                      <div class="w-60">

                        {% if post.custom._anomalous_meta_overlappingImages1 %}

                          {% include "parts/progressive-image/progressive-image.twig" with { 
                            obj: post.custom._anomalous_meta_overlappingImages1,
                            ratio: '16x9',
                            classes: 'z-1 overlapping-image-1 progressive-image-background slide-in-image',
                            id: 'overlappingImage1'
                          } %}

                        {% endif %}

                      </div>

                    </div>

                    <div class="relative w-100 row flex justify-end">

                      <div class="w-60">

                        {% if post.custom._anomalous_meta_overlappingImages2 %}

                          {% include "parts/progressive-image/progressive-image.twig" with { 
                            obj: post.custom._anomalous_meta_overlappingImages2,
                            ratio: '16x9',
                            classes: 'z-1 overlapping-image-2 progressive-image-background slide-in-image',
                            id: 'overlappingImage2'
                          } %}
                          
                        {% endif %}

                      </div>
                      
                    </div>

                    <div class="relative w-100 row">

                      <div class="w-60">

                        {% if post.custom._anomalous_meta_overlappingImages3 %}

                          {% include "parts/progressive-image/progressive-image.twig" with { 
                            obj: post.custom._anomalous_meta_overlappingImages3,
                            ratio: '16x9',
                            classes: 'z-1 overlapping-image-3 progressive-image-background slide-in-image',
                            id: 'overlappingImage3'
                          } %}

                        {% endif %}

                      </div>
                      
                    </div>
                  
                  </div>

                  <div class="col-lg-4 col-md-6 col-xs-12 
                    flex flex-column justify-center
                    pl3-m pl3-l pl4-xl
                    mb3 mb4-m 
                  ">

                    {% include "parts/testimonial/testimonial.twig" with {
                      content: post._anomalous_meta_testimonialContent,
                      author:  post._anomalous_meta_testimonialAuthor,
                      classes: 'persian-green text-reveal',
                      id: 'workTestimonial'
                    } %}

                  </div>
                  
                </div>

              {% endblock %}
            {% endembed %}

          </div>

          <div class="parallax-image w-100 vh-50 cover overflow-hidden">

            {# {% include "parts/progressive-image/progressive-image.twig" with { 
              obj: post.custom._anomalous_meta_paralaxImage,
              ratio: '4x3',
              classes: 'z-1 parallax parallax-2 progressive-image-background'
            } %} #}

            {% include "parts/progressive-image-parallax/progressive-image-parallax.twig" with { 
              obj: post.custom._anomalous_meta_paralaxImage,
              ratio: '',
              classes: 'h-100'
            } %}

          </div> 

        </section>

        <section id="gallerySection" class="pv5 block-reveal">

          {% include "parts/gallery/gallery.twig" with { 
            imagesArray: post.custom._anomalous_meta_gallery 
          } %}

        </section>

      </div>
      
    {% endblock app %}

  {% endif %}

