{# btn.twig #}

{# 
  The button used to deploy the credits dialog
  This should realy be a <button> element.
 #}

{# parameters #}
{% set btnID = id %}
{% set btnTextNode = textNode %}
{% set btnPostID = postID %}

{# variables #}
{% set btnClasses = "dib mt3 pa2
  no-underline montserrat lh-solid fw3 ttu tracked-mega bn
  bg-persian-green bg-gravel-hover off-white transition-1 outline-0" %}

<button id="{{btnID}}"
  class="{{btnClasses}}" 
  data-post-id="{{btnPostID}}">
  {{btnTextNode}}
</button>