{# parts/entry-content/entry-content.twig #}

{#


#}

{# Parameters #}
{% set entryContentPost = post ?? null %}
{% set entryContentClasses = classes %}
{% set entryContentId = id %}

{# Output #}
{% if entryContentPost %}

  <div class="entry-content {{entryContentClasses}}">

    <div class="measure-wide text-reveal" id="{{entryContentId}}"> 

      {% if entryContentPost.terms('categories').0.name %}

        <a href="{{ entryContentPost.terms('categories').0.link}}" class="db mb2 tracked persian-green gravel-hover no-underline {{heading1}} ttu din">
          /{{ entryContentPost.terms('categories').0.name}}
        </a>
      
      {% endif %}

      <h1 class="{{display2}} ma0 mb3">
       {{entryContentPost.title ?? 'No Title'}}
      </h1>

      <span class="db mb3 tracked persian-green {{heading1}} ttu din">
        {{ entryContentPost.date('j.m.y') }}
      </span>

      <span class="db bb b--persian-green pb3 bw3 w3" style=""></span>

    </div>
    
      {{entryContentPost.content}}

  </div>

 {% endif %}
