{# parts/testimonial/testimonial.twig #}

{# Parameters #}
{% set testimonialContent = content ?? null %}
{% set testimonialAuthor = author ?? null %}
{% set testimonialClasses = classes ?? null %}
{% set testimonialId = id ?? null %}

{% if testimonialContent %}

  <div class="flex flex-column  {{testimonialClasses}}" id="{{testimonialId}}">

    {% if post.testimonialParalaxQuoteicon %}

      <img src="{{site.theme.uri}}/dist/img/png/big-quote.png" class="big-quote center db mb3 h2"/>
    
    {% endif %}

    {{function('wpautop', testimonialContent)}}
    
    <span class="db {{paragraph}} montserrat fw7 tc">
      {{testimonialAuthor}}
    </span>

  </div>

{% endif %}