
  {# templates/service/service.twig #}

  {# Service

    @param {Array} hero
      'backgroundVideo' => string 
      'heroBackgroundImage' => string
      'paragraph1' => string
      'paragraph2' => string

    @param {Array} testimonial
      'backgroundVideo' => string
      'heroBackgroundImage' => string
      'paragraph1' => string

    @param {Array} mainContent
      'textBlock1' => string
      'textBlockImage1' => string
      'paralaxImage' => string
      'textBlock2' => string
      'textBlockImage2' => string

    @param {Array} meetTeamMember
      string '45

    @param {Array} clientLogos
      0 => 
      'clientLogo_id' => int 
      'clientLogo' => string
  #}

  {# Parameters #}
  {% set serviceHero = hero ?? null %}
  {% set serviceTestimonial = testimonial ?? null %}
  {% set serviceMainContent = mainContent ?? null %}
  {% set serviceTeamMember = meetTeamMember ?? null %}
  {% set serviceClientLogos  = clientLogos ?? null %}

  {# Variables #}
  {% set appAttrs = null %}

  {# Output #}
  {% if post is not null %}

    {# set the logo using the page slug #}
    {% set logo = post.slug ~ '-logo' %}

    {% extends  'templates/app/app.twig' %}
    
    {% import 'macros/macros.twig' as mcro %}

    {% block app %}

      <div id="servicePage">

        <section class="" id="heroSection">
          {% include "parts/hero-right/hero-right.twig" with {
            textColour: 'off-white',
            scrollTarget: 'mainContentSection'
          } %}
        </section>

        <section class="bg-off-white" id="mainContentSection">
          {% include "parts/services-content/services-content.twig" %}
        </section>

        {# <section class="bg-off-white" id="testimonialSection">
          {% include "parts/testimonial-parallax/testimonial-parallax.twig" %}
        </section> #}

        <section class="bg-off-white" id="meetTeamMemberSection">
          {% include "parts/point-contact/point-contact.twig" %}
        </section>

        <section class="bg-off-white" id="clientsSection">
          {% include "parts/clients-carousel/clients-carousel.twig" %}
        </section>
      
        {% if featuredPosts|length == 4 %}
      
          <section class="bg-bonjour-grey" id="recentEventsSection">
            {% include "parts/recent-work/recent-work.twig" with {
              posts: featuredPosts
            } %}

            <div class="services-menu flex flex-column justify-center flex-row-m flex-row-l flex-row-xl
            pv3 pv4-m pv4-l pv4-xl center mw8  
            ph6-xl ph5-l ph5-m ph3">
              {% for item in global.menus.services.items %}
                <a href="{{item.link}}" 
                  class="{{button}} bg-persian-green bg-gravel-hover off-white {{item.class}}">
                  {{item.title}}
                </a>
              {% endfor %}
            </div>

          </section>

        {% endif %}

      </div>
      
    {% endblock app %}

  {% endif %}
