
{# parts/PLImage/PLImage.twig #}

{#
   Video
#}

{# Parameters #}
{% set progressiveImageObj = obj ?? null %}
{% set progressiveImageRatio = ratio ?? '3x2' %}
{% set progressiveImageClases = 'bg-center ' ~ classes ?? null %}
{% set progressiveImageId = id ?? null %}

{# Variables #}
{# {% set videoCLassesDefault = 'video--block ' %}
{% set videoCLasses = videoCLassesDefault ~ videoCLasses %} #}

{# Output #}

{% import 'macros/macros.twig' as mcro %}

<div class="
  aspect-ratio aspect-ratio--{{progressiveImageRatio}} 
  overflow-hidden progressive-image-placeholder
  {{progressiveImageClases}}" 
  id="{{progressiveImageId}}"
  data-ratio="{{progressiveImageRatio}}"
  data-src-desktopx2="{{progressiveImageObj.desktopx2}}" 
  data-src-desktop-1x1="{{progressiveImageObj.desktop1x1}}" 
  data-src-desktop="{{progressiveImageObj.desktop}}" 
  data-src-portable="{{progressiveImageObj.tablet}}"
  data-src-mobile="{{progressiveImageObj.mobile}}"
  data-src-mobile-1x1="{{progressiveImageObj.mobile1x1}}" 
>

  {# div for grey sliding bg #}

  <div class="absolute absolute--fill bg-bonjour-grey
  progressive-image-overlay"></div>

  <div class="absolute absolute--fill h-100 overflow-hidden">
    <div style="background-image: url({{progressiveImageObj.tiny}})" data-src="{{progressiveImageObj.tiny}}"
    class="progressive-image progressive-image-tiny bg-center relative h-100 overflow-hidden absolute--fill cover"></div>
  </div>

</div>