
.progressive-image {
  opacity: 0;
  transition: opacity 1s linear;

  &[data-state="loaded"] {
    opacity: 1;
  }
}

.progressive-image-tiny {
  opacity: 1;
  filter: blur(50px);
  transform: scale(1);
}

@keyframes slideIn {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInOverylay {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.progressive-image-placeholder.slide-in-image > div{
  transform: translateX(-200%);
}

.progressive-image-overlay {
  transform: translateX(-100%);
}

.progressive-image-placeholder.slide-in-image[data-state=show] > div {
  animation: 1s ease .5s slideIn forwards;
}

.progressive-image-placeholder.slide-in-image[data-state=show] > .progressive-image-overlay {
  animation: .5s ease slideInOverylay forwards;
}


// slide in delayed 

.progressive-image-placeholder.slide-in-image-2 > div{
  transform: translateX(-200%);
}

.progressive-image-overlay {
  transform: translateX(-100%);
}

.progressive-image-placeholder.slide-in-image-2[data-state=show] > div {
  animation: 1s ease 1s slideIn forwards;
}

.progressive-image-placeholder.slide-in-image-2[data-state=show] > .progressive-image-overlay {
  animation: .5s ease .5s slideInOverylay forwards;
}


.progressive-image-placeholder.slide-in-image-3 > div{
  transform: translateX(-200%);
}

.progressive-image-overlay {
  transform: translateX(-100%);
}

.progressive-image-placeholder.slide-in-image-3[data-state=show] > div {
  animation: 1s ease 1.5s slideIn forwards;
}

.progressive-image-placeholder.slide-in-image-3[data-state=show] > .progressive-image-overlay {
  animation: .5s ease 1s slideInOverylay forwards;
}

.progressive-image-placeholder.slide-in-image-4 > div{
  transform: translateX(-200%);
}

.progressive-image-overlay {
  transform: translateX(-100%);
}

.progressive-image-placeholder.slide-in-image-4[data-state=show] > div {
  animation: 1s ease 2s slideIn forwards;
}

.progressive-image-placeholder.slide-in-image-4[data-state=show] > .progressive-image-overlay {
  animation: .5s ease 1.5s slideInOverylay forwards;
}