{% spaceless %}

{# base/components/post-link/post-link.twig #}

{#
   @param {Post Obj} post
#}

{# Parameters #}
{% set workLinkPost = post ?? null %}
{% set workLinkDate = date ?? null %}

{# Output #}
{% import 'macros/macros.twig' as mcro %}

<a href="{{workLinkPost.link}}" class="post-link post db relative scale-grow hide-child">

  {% include "parts/progressive-image/progressive-image.twig" with { 
    obj: post.featuredImage,
    ratio: '1x1',
    classes: 'z-1 progressive-image-background'
  } %}

  <div class="child bg-gravel-50 absolute absolute--fill z-2 pa3">

    <div class="h-100 flex justify-between items-end">
      
      <div class="flex flex-column justify-end">

        {% set terms = workLinkPost.terms() %}

        {% if terms|length > 0 %}

          {% for term in terms %}

            {% if term.parent != 0 %}

              <h3 class="f2 ttu din off-white ma0 mb2 fw3 tracked lh-solid">
                {{term.name}}
              </h3>

            {% endif %}

          {% endfor %}

      {% endif %}

      {% if workLinkDate %}
        <h3 class="f2 ttu din off-white ma0 mb2 fw3 tracked lh-solid">
          {{workLinkDate}}
        </h3>
      {% endif %}

        <h3 class="{{display2}} ma0">
          {{workLinkPost.title ?? 'No Title'}}
        </h3>

      </div>

      <img src="{{site.theme.uri}}/dist/img/png/down-arrow.png" 
        class="down-arrow db h2 w2" 
        style="transform: rotate(-90deg);"/>

    </div>

  </div>

</a>

{% endspaceless %}