.owl-carousel .owl-nav {
  position: absolute;
  top: calc(50% - 40px);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  @extend .flex;
  @extend .justify-between;
  button {
    &.owl-prev, &.owl-next {
      width: 60px;
      height: 60px;
      background-color: black;
      span {
        color: white;
        font-size: 3rem; 
      }
    }
  }
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  height: 2px;
  button {
    @extend .button-reset;
    @extend .outline-0;
    height: 100%;
    flex-grow: 1;
    &.active {
      @extend .bg-white;
    }
  }
}

.owl-carousel.fs-slides {
	top: 0;
	left: 0;
	right: 0;
  bottom: 0;
  img {
    width: 100%;
    max-width: none;
  }
}

.owl-carousel.fs-slides .owl-stage-outer,
.owl-carousel.fs-slides .owl-stage,
.owl-carousel.fs-slides .owl-item {
	height: 100%;
}

.owl-carousel.fs-slides .owl-item {
  overflow: hidden;
  cursor: ew-resize;
}

.owl-carousel.fs-slides .owl-item.portrait img {
	width: 100%;
	height: auto;
}

.owl-carousel.fs-slides .owl-item.landscape img {
	width: auto;
	height: 100%;
}