{# base/components/services-content/services-content.twig #}

{#
   @param {Post Obj} post
#}

{# Parameters #}
{% set servicesContentPost = post ?? null %}

{# Output #}
{% import 'macros/macros.twig' as mcro %}

<div id="servicesContent" data-state="init"  class="services-content">
  
  {# {{dump(post.custom)}} #}

  <div class="col-lg-10 col-lg-offset-1">

    <div class="flex img-text-right vh-75-xl pt4 pb4">

      <div class="col-xs-12 col-md-6 col-lg-6 
      flex flex-column justify-center
      ph4 text-reveal tr-ns" id="servicesContentCopy1">

        {# wrap the text so the flexbox is applied to a block of text an not
        the individual elements. #}
        {{function('wpautop', post._anomalous_meta_textBlock1)}}

        {% if post.custom._anomalous_meta_showreelVideoLightboxURL %}

          <a href="{{post.custom._anomalous_meta_showreelVideoLightboxURL}}" 
            class="showreel-lightbox mfp-iframe {{button}} bg-persian-green bg-gravel-hover transition-1 off-white db ml-auto-ns mr0-ns">
            View Showreel
          </a>
        
        {% endif %}              

      </div>

      <div class="col-xs-12 col-md-6 col-lg-6 ph4 relative z-2 dn db-l">

          {% include "parts/progressive-image/progressive-image.twig" with { 
            obj: post.custom._anomalous_meta_textBlockImage1,
            ratio: '4x3',
            classes: 'z-1 text-block-image-1 progressive-image-background slide-in-image',
            id: "servicesContentImage1"
          } %}

      </div>

    </div>

  </div>

  {# <div class="parallax-image w-100 vh-50 vh-75-l cover overflow-hidden"> #}

    {# {% include "parts/progressive-image-parallax/progressive-image-parallax.twig" with { 
      obj: post.custom._anomalous_meta_servicesParalaxImage,
      ratio: '',
      classes: 'h-100'
    } %} #}

  {# </div>  #}

  {% include "parts/testimonial-parallax/testimonial-parallax.twig" %}
  
  <div class="col-lg-10 col-lg-offset-1">

    <div class="flex img-text-left vh-50-xl pt4 pb4">

      <div class="col-xs-12 col-md-6 col-lg-6 ph4 relative z-2 dn db-l">

        {% include "parts/progressive-image/progressive-image.twig" with { 
          obj: post.custom._anomalous_meta_textBlockImage2,
          ratio: '4x3',
          classes: 'z-1 text-block-image-2 progressive-image-background slide-in-image',
          id: "servicesContentImage2"
        } %}

      </div>

      <div class="col-xs-12 col-md-6 col-lg-6 ph4 tl 
      flex flex-column justify-center">
          
        {# wrap the text so the flexbox is applied to a block of text an not
        the individual elements. #}
        <div class="text-reveal" id="servicesContentCopy2">
          {{function('wpautop', post._anomalous_meta_textBlock2)}}
        </div>

      </div>

    </div>

  </div>

</div>
