
{# parts/gallery/gallery.twig  #}

{# parameter #}
{% set galleryImageArray = imagesArray %}
{% set galleryImageClasses = classes ?? null %}
{% set galleryHrefImageSize = hrefImageSize ?? 'desktop' %}

{% if galleryImageArray %}
  
  {% embed "parts/container-small/container-small.twig" %}

    {% block container %}

      <div id="gallery" class="lightbox-gallery flex flex-column flex-row-m flex-row-l flex-wrap-m flex-wrap-l">

        {% for item in galleryImageArray %}
          <a href="{{attribute(item, galleryHrefImageSize)}}" class="gallery-link
            col-xs-12 
            col-sm-6 
            col-md-4 
            col-lg-4 
            col-xl-3 
            pa2
            post-link db relative
          "> 
            <div class="relative col-xs-12 hide-child pointer mb2">
            
              {% include "parts/progressive-image/progressive-image.twig" with { 
                obj: item,
                ratio: '1x1',
                classes: 'z-1 progressive-image-background gallery-item ' ~ galleryImageClasses
              } %}
              <span class="w2 h2 db absolute right-1 bottom-1 child white lightbox-link z-2"></span>
              
            </div>
          
          </a>

        {% endfor %}

      </div>
    
    {% endblock container %}
    
  {% endembed %}

{% endif %}
