.background-carousel {
  transform: translateX(-200vw);
  &[data-state=show] {
    animation: 1s ease-out .8s imagePlaceholder forwards
  }
  .owl-item {
    width: 100%;
  }
}

.owl-carousel .owl-dots {
  margin-left: 5%;
  width: 40%;
}