
{% set carouselClasses = classes ?? null %}

<div class="fs-slides owl-carousel background-carousel {{carouselClasses}}" data-state="show">

  {% for item in items %}

    {# {{item}}

    {% include "parts/PLImage/PLImage.twig" with {
      url: item.tiny,
      srcset: item.srcset,
      sizes: item.sizes,
      classes: item.classes,
      tiny: item.tiny,
      aspectRatio: '16x9'
    } %}

    owl-lazy #}

    <img src="{{item.tiny}}" data-src="{{item.desktop}}" class="owl-lazy w-100 h-100" />

  {% endfor %}

</div>