
  {# 
    templates/single-work/single-work.twig 
  #}

  {# Service 

    @param {Array} mainVideo
      videoURL' {String}
      videoFallbackImage {String}

    @param {Array} testimonial
      testimonialContent {String} 
      testimonialAuthor {String}

    ---- template #2 ----

    @param {Array} contentVideo
      {String} url
      {String} fallbackImage

    @param {String} testimonialVideo
      {String} url
      {String} fallbackImage
  #}

  {# Parameters #}
  {% set workPost = post %}

  {# Output #}
  {% if workPost is not null %}

    {% extends  'templates/app/app.twig' %}
    
    {% import 'macros/macros.twig' as mcro %}

    {% block app %}

    <div class=" dn db-m db-l absolute z-0 right-0 h-100 w-100 ml-auto hero-overlay bg-bonjour-grey half-background top-0" 
      data-state="show">
    </div>

      <div class="pt6 relative z-2" id="workPost">

        <section id="heroSection" class="hero-video-section">

          {% embed "parts/container-large/container-large.twig" %}

            {% block container %}

              <div class="block-reveal cover" id="singleWorkHeroVideo">

                {% if post.custom.postVideoDirect %}
              
                  {% include "parts/video/video.twig" with { 
                    classes: 'work-video vh-70',
                    sources: [ post.custom.postVideoDirect.0.url ],
                    poster: post.custom.postVideoDirect.0.poster,
                    attrs: { 'data-state': 'paused' },
                    playIcon: 'play-icon-white'
                  } %}  

                {% elseif post.custom.postVideoIframe %}
                    
                  {% include "parts/iframe-video/iframe-video.twig" with { 
                    iframe: post.custom.postVideoIframe.0,
                  } %}  

                {% else %}

                  {% include "parts/progressive-image/progressive-image.twig" with { 
                    obj: post.featuredImage,
                    ratio: '16x9',
                    classes: 'z-1 progressive-image-background vh-50',
                    id: 'workHeroImage'
                  } %}

                {% endif %}

              </div>

            {% endblock container %}

          {% endembed %}

        </section>

        <section class="" id="mainContentSection">

         {% embed "parts/container-large/container-large.twig" %}

            {% block container %}

              <div class="relative">

                <div class="pv4">

                  <div class="row">

                    <div class="col-lg-6 col-md-6 col-xs-12 
                      pr0-m pr3-l pr4-xl
                      mb3 mb4-m flex justify-center
                    ">

                      {% include "parts/entry-content-right-aligned/entry-content-right-aligned.twig" with {
                        id: 'entryContentTemplate1'
                      } %}

                    </div>
                    
                    <div class="col-lg-6 col-md-6 col-xs-12
                      pl0-m pl3-l pl4-xl 
                      flex flex-column justify-center
                    ">
                      
                      <div class="block-reveal" id="workTemplate1Video">

                        {% if post.custom.contentVideoDirect %}
              
                          {% include "parts/video/video.twig" with { 
                            classes: 'work-video',
                            sources: [ post.custom.contentVideoDirect.0.url ],
                            poster: post.custom.contentVideoDirect.0.poster,
                            attrs: { 'data-state': 'paused' },
                            playIcon: 'play-icon-white'
                          } %}  

                        {% elseif post.custom.contentVideoIframe %}
                            
                          {% include "parts/iframe-video/iframe-video.twig" with { 
                            iframe: post.custom.contentVideoIframe.0
                          } %}  

                        {% else %}

                          {% include "parts/progressive-image/progressive-image.twig" with { 
                            obj: post.custom.contentVideoImage,
                            ratio: '16x9',
                            classes: 'z-1 progressive-image-background',
                            id: 'workHeroImage'
                          } %}

                        {% endif %}

                      </div>

                    </div>
                    
                  </div>

                </div>

              </div>

            {% endblock container %}

          {% endembed %}

        </section>

        <section id="testimonialSection">

          <div class="relative mb5 mb6-l mb6-xl">

            {# background purposes #}
            <div class="two-tone-backgrounds" id="workTemplate1TwoTone">
              <div class="
              two-tone-1
              absolute
              z-index
              left-0
              h-100
              hero-overlay
              bg-half-baked-green
              top-0"></div>

              <div class="
              two-tone-2
              absolute
              z-index
              right-0
              h-100
              hero-overlay
              bg-persian-green
              top-0"></div>
            </div>

            {% embed "parts/container-large/container-large.twig" %}

              {% block container %}

                <div class="z-2 pv5">

                  <div class="row">

                    <div class="col-lg-6 col-md-6 col-xs-12 
                    flex flex-column justify-center
                    pr3-m pr3-l pr4-xl
                    mb4 mb0-l mb0-xl">

                      <div class="block-reveal" id="workTemplate1Video2">
                      
                        {% if post.custom.testimonialVideoDirect %}
              
                          {% include "parts/video/video.twig" with { 
                            classes: 'work-video',
                            sources: [ post.custom.testimonialVideoDirect.0.url ],
                            poster: post.custom.testimonialVideoDirect.0.poster,
                            attrs: { 'data-state': 'paused' },
                            playIcon: 'play-icon-white'
                          } %}  

                        {% elseif post.custom.testimonialVideoIframe %}
                            
                          {% include "parts/iframe-video/iframe-video.twig" with { 
                            iframe: post.custom.testimonialVideoIframe.0
                          } %}  

                        {% else %}

                          {% include "parts/progressive-image/progressive-image.twig" with { 
                            obj: post.custom.testimonialVideoImage,
                            ratio: '16x9',
                            classes: 'z-1 progressive-image-background',
                            id: 'workHeroImage'
                          } %}

                        {% endif %}

                      </div>

                    </div>
                  
                    <div class="col-lg-6 col-md-6 col-xs-12 
                    pl3-m pl3-l pl5-xl
                    relative
                    flex flex-column justify-center">

                      {% include "parts/testimonial/testimonial.twig" with {
                        content: post._anomalous_meta_testimonialContent,
                        author:  post._anomalous_meta_testimonialAuthor,
                        classes: 'ph4 ph6-m ph5-l off-white justify-center tc text-reveal',
                        id: 'workTemplate1Testimonial'
                      } %}
                      
                    </div>

                  </div>
                  
                </div>

              {% endblock container %}

            {% endembed %}

          </div>

        </section>

        <section id="gallerySection" class="pv5 block-reveal">

          {% include "parts/gallery/gallery.twig" with { 
            imagesArray: post.custom._anomalous_meta_gallery 
          } %}

        </section>

      </div>
      
    {% endblock app %}

  {% endif %}

