
/** 
 * This is so that the vidoes are limited at 70% of the window height
 * so that they do not expact beyond the window, while allowing the aspect 
 * ratio to control the size prior to that.
*/
@media screen and (min-width: 1024px) {
  .hero-video-section .aspect-ratio,
  .hero-video-section .video--block {
    height: 70vh;
    padding-bottom: 0 !important;
  }
}