
  {# 
    templates/service/service.twig 
  #}

  {# Service

    @param {Array} hero
      'backgroundVideo' => string 
      'heroBackgroundImage' => string
      'paragraph1' => string
      'paragraph2' => string

    @param {Array} testimonial
      'backgroundVideo' => string
      'heroBackgroundImage' => string
      'paragraph1' => string

    @param {Array} mainContent
      'textBlock1' => string
      'textBlockImage1' => string
      'paralaxImage' => string
      'textBlock2' => string
      'textBlockImage2' => string

    @param {Array} meetTeamMember
      string '45

    @param {Array} clientLogos
      0 => 
      'clientLogo_id' => int 
      'clientLogo' => string
  #}

  {# Parameters #}
  {% set serviceHero = hero ?? null %}
  {% set serviceTestimonial = testimonial ?? null %}
  {% set serviceMainContent = mainContent ?? null %}
  {% set serviceTeamMember = meetTeamMember ?? null %}
  {% set serviceClientLogos  = clientLogos ?? null %}

  {# Variables #}
  {% set appAttrs = null %}

  {# Output #}
  {% if post is not null %}

    {# set the logo using the page slug #}
    {% set logo = 'space-logo' %}

    {% extends  'templates/app/app.twig' %}
    
    {% import 'macros/macros.twig' as mcro %}

    {% block app %}

      <div class="bg-off-white" id="spacePost">

        <section class="" id="heroSection">
          {% include "parts/hero-simple/hero-simple.twig" with {
            overlayColour: 'bg-bonjour-grey',
            textColour: 'gravel',
            scrollTarget: 'mainContentSection'
          } %}
        </section>

        <section class="" id="mainContentSection">

          <div class="ph3 ph5-m ph0-l ph0-xl ">

            <div class="relative">

              <div class="pv5">

                <div class="row w-100">

                  <div class="col-lg-6 col-md-6 col-xs-12 
                    pr0-m pr3-l pr4-xl
                    mb3 mb4-m
                    flex flex-column justify-center
                  ">

                    {% include "parts/progressive-image/progressive-image.twig" with { 
                      obj: post.featuredImage,
                      ratio: '4x3',
                      classes: 'z-1 progressive-image-background slide-in-image',
                      id: 'singleSpaceFeaturedImage'
                    } %}

                  </div>
                  
                  <div class="col-lg-6 col-md-6 col-xs-12
                    pl0-m pl3-l pl4-xl 
                    pr5-l pr6-xl
                    flex flex-column justify-center
                    text-reveal
                  " id="singleSpacePostContent">
                      {{post.content}}
                 
                  </div>
                  
                </div>

              </div>

            </div>

          </div>

        </section>

        <section class="relative" id="facilitiesSection">

          <div class="absolute 
          absolute-fill 
          w-60 h-100 
          bg-half-baked-green
          nearly-full-plane"
          id="singleSpacePlane"
          ></div>
         
          <div class="ph3 ph5-m ph0-l ph0-xl ">

            <div class="relative">

              <div class="pv5 relative z-1 off-white">

                <div class="row">

                  <div class="col-lg-6 col-md-6 col-xs-12
                    pr0-m pr3-l pr4-xl 
                    pl5-l pl6-xl
                    flex flex-column justify-center
                     text-reveal
                     tr"
                    id="singleSpaceFacilitiesCopy"
                    dir="rtl"
                  >

                      {{post._anomalous_meta_facilitiesContent}}
                 
                  </div>

                  <div class="col-lg-6 col-md-6 col-xs-12 
                    pr0-m ph3-l ph4-xl
                    mb3 mb4-m
                    flex flex-column justify-center
                  ">

                    {% include "parts/progressive-image/progressive-image.twig" with { 
                      obj: post.featuredImage,
                      ratio: '6x4',
                      classes: 'z-1 translateY-3 progressive-image-background slide-in-image-3',
                      id: 'singleSpaceImage1'
                    } %}

                    <div class="ph5">
                      {% include "parts/progressive-image/progressive-image.twig" with { 
                        obj: post.featuredImage,
                        ratio: '6x4',
                        classes: 'z-1 progressive-image-background slide-in-image-4',
                        id: 'singleSpaceImage2'
                      } %}
                    </div>

                  </div>
                  
                </div>

              </div>

            </div>

          </div>
        </section>
        
        <section class="pv5 block-reveal" id="gallerySection">

          {% include "parts/gallery/gallery.twig" with { 
            imagesArray: post.custom._anomalous_meta_gallery 
          } %}

          <div class="pv3 pv5-l pv5-xl flex justify-center text-reveal" id="singleSpaceBook">

            <a href="{{post.link}}"
              class="{{button}} bg-persian-green bg-gravel-hover transition-1 off-white mh1">book this space</a>

          </div>

        </section>


      </div>
      
    {% endblock app %}

  {% endif %}
