{% macro createHTMLTag( tagName, attributes, class, innerHtml, selfClosing ) %}
{% spaceless %}
{% import _self as mcro %}
{% set tmpAttributes = [] %}
{% if attributes is defined and attributes is iterable %}
{% for key, val in attributes %}
{% set tmpAttributes = tmpAttributes | merge(['%s="%s"' | format(key, val)]) %}
{% endfor %}
{% endif %}
<{{ tagName }} {% if class %}class="{{ class }}"{% endif %} {{ tmpAttributes | join(' ') | raw }}{% if selfClosing is not defined or selfClosing == false %}>{%
endif %}{% if innerHtml is defined and innerHtml | length > 0 %}{{ innerHtml|raw }}{% endif %}
{% if selfClosing is defined and selfClosing == true %}>{% else %}</{{ tagName }}>{% endif %}
{% endspaceless %}
{% endmacro %}
