
.lightbox-link {
  padding: .3rem;
  background: rgba(0,0,0,0.4); 
}

.icon-arrow {
  &:active {
    margin: 0;
  }
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  &-left {
    transform: rotate(180deg);
    left: 0;
  }
  &-right {
    right: 0;
  }
}


@media (max-width: 900px) {
  .icon-arrow {
    transform: scale(0.75);
    &-left {
      transform: rotate(180deg) scale(0.75) !important;
      left: 0;
    }
  }
}

.mfp-arrow:before {
  content: none;
}