
  {# 
    templates/service/service.twig 
  #}

  {# Service

    @param {Array} hero
      'backgroundVideo' => string 
      'heroBackgroundImage' => string
      'paragraph1' => string
      'paragraph2' => string

    @param {Array} testimonial
      'backgroundVideo' => string
      'heroBackgroundImage' => string
      'paragraph1' => string

    @param {Array} mainContent
      'textBlock1' => string
      'textBlockImage1' => string
      'paralaxImage' => string
      'textBlock2' => string
      'textBlockImage2' => string

    @param {Array} meetTeamMember
      string '45

    @param {Array} clientLogos
      0 => 
      'clientLogo_id' => int 
      'clientLogo' => string
  #}

  {# Parameters #}
  {% set serviceHero = hero ?? null %}
  {% set serviceTestimonial = testimonial ?? null %}
  {% set serviceMainContent = mainContent ?? null %}
  {% set serviceTeamMember = meetTeamMember ?? null %}
  {% set serviceClientLogos  = clientLogos ?? null %}

  {# Variables #}
  {% set appAttrs = null %}

  {# Output #}
  {% if post is not null %}

    {# set the logo using the page slug #}
    {% set logo = post.slug ~ '-logo' %}

    {% extends  'templates/app/app.twig' %}
    
    {% import 'macros/macros.twig' as mcro %}

    {% block app %}

      <div class="" id="spacePage">

        <section class="" id="heroSection">

          {% include "parts/hero-right/hero-right.twig" with { 
            
            textColour: 'off-white',
            scrollTarget: 'mainContentSection'
          } %}
          
        </section>

        <section class="bg-off-white" id="mainContentSection">

          <div class="ph3 ph5-m pr0-l pr0-xl pl5-l pl6-xl ">

            <div class="relative">

              <div class="pv5">

                <div class="row w-100">

                  <div class="col-lg-6 col-md-6 col-xs-12 
                    pr0-m pr3-l pr4-xl
                    mb3 mb4-m
                    flex flex-column justify-center items-center
                    text-reveal
                  " id="spaceMainContentCopy">

                    <div>

                      {{function('wpautop', post.content)}}
                      
                    </div>    

                  </div>
                  
                  <div class="col-lg-6 col-md-6 col-xs-12
                    pl0-m pl3-l pl4-xl 
                    flex flex-column justify-center
                  ">
  
                    {% include "parts/progressive-image/progressive-image.twig" with { 
                      obj: post.featuredImage,
                      ratio: '4x3',
                      classes: 'z-1 progressive-image-background slide-in-image',
                      id: 'spaceMainContentImage'
                    } %}
                 
                  </div>
                  
                </div>

              </div>

            </div>

          </div>

        </section>

        <section class="bg-off-white" id="spacesSection">

          {% embed "parts/container-large/container-large.twig" %}
            {% block container %}

              <div class="flex flex-column">

                <div class="flex flex-column flex-row-m flex-row-l flex-row-xl justify-center text-reveal" id="spacesListButtons" >

                  {% for post in spaces %}

                    {% set state = 'inactive' %}
                    {% if loop.first %}
                      {% set state = 'active' %}
                    {% endif %}

                    <a href="#{{post.slug}}"
                    class="{{button}} space-toggle-button 
                    bg-persian-green bg-gravel-hover transition-1 off-white mh1"
                    data-state="{{state}}"
                    data-target="{{post.slug}}">{{post.title}}</a>
                    
                  {% endfor %}

                </div>

                {% for post in spaces %}

                  {% set state = 'inactive' %}
                    {% set spacePageSpacesPreviewImageFirst = '' %}
                    {% set spacePageSpacesPreviewCopyFirst = '' %}
                    {% set spacePageSpacesPreviewButtonFirst = '' %}
                  {% if loop.first %}
                    {% set state = 'active' %}
                    {% set spacePageSpacesPreviewImageFirst = 'spacePageSpacesPreviewImageFirst' %}
                    {% set spacePageSpacesPreviewCopyFirst = 'spacePageSpacesPreviewCopyFirst' %}
                    {% set spacePageSpacesPreviewButtonFirst = 'spacePageSpacesPreviewButtonFirst' %}
                  {% endif %}

                  <div id="{{post.slug}}" data-state="{{state}}" class="space-preview">

                    <div class="relative">

                      <div class="pv5 ph5-m pl0-l pl0-xl pr5-l pr6-xl">

                        <div class="row">

                          <div class="dn col-lg-6 col-md-6 col-xs-12 
                            pr0-m pr3-l pr4-xl
                            mb3 mb4-m
                            flex-ns flex-column justify-start
                          ">

                            {% if post.custom._anomalous_meta_facilities3dUrl %}

                              <div class="aspect-ratio--4x3 relative">
                                <iframe data-src="{{post.custom._anomalous_meta_facilities3dUrl}}" 
                                  id="3dExperience"
                                  sandbox="allow-scripts allow-same-origin allow-popups"
                                  allowfullscreen="true"
                                  importance="low"
                                  class="absolute absolute--fill w-100 h-100">
                                </iframe>
                              </div>
                          
                            {% else %}

                              {% include "parts/progressive-image/progressive-image.twig" with { 
                                obj: post.custom._anomalous_meta_facilities3dUrlImage,
                                ratio: '4x3',
                                classes: 'z-1 progressive-image-background slide-in-image',
                                id: spacePageSpacesPreviewImageFirst
                              } %}

                            {% endif %}

                          </div>
                          
                          <div class="col-lg-6 col-md-6 col-xs-12
                            pl0-m pl3-l pl4-xl 
                            flex flex-column justify-center items-center
                          ">

                            <div class="space-preview-facilities
                             text-reveal" id="{{spacePageSpacesPreviewCopyFirst}}"> 
                              {{post._anomalous_meta_facilitiesContent}}
                            </div>
                        
                          </div>
                          
                        </div>

                        <div class="pv3 pv5-l pv5-xl flex justify-center text-reveal" id="SpaceBook-{{post.slug}}">

                          <a href="{{post.custom._anomalous_meta_CallToActionUrl}}"
                            class="{{button}} bg-persian-green bg-gravel-hover transition-1 off-white mh1">
                            {{post.custom._anomalous_meta_CallToActionText}}
                          </a>

                        </div>

                      </div>

                      <section class="bg-off-white" id="gallerySection">

                        {% include "parts/gallery/gallery.twig" with { 
                          imagesArray: post.custom._anomalous_meta_gallery 
                        } %}

                        <div class="pv3 pv5-l pv5-xl flex justify-center text-reveal" id="SpaceBook-{{post.slug}}-2">

                        {# <a href="{{post.custom._anomalous_meta_CallToActionUrl}}"
                          class="{{button}} bg-persian-green bg-gravel-hover transition-1 off-white mh1">
                          {{post.custom._anomalous_meta_CallToActionText}}
                        </a> #}

                      </div>

                      </section>

                    </div>

                  </div>

                {% endfor %}

              </div>

            {% endblock %}
          {% endembed %}

        </section>

        <section class="bg-off-white" id="meetTeamMemberSection">
          {% include "parts/point-contact/point-contact.twig" %}
        </section>

        <section class="bg-off-white" id="clientsSection">
          {% include "parts/clients-carousel/clients-carousel.twig" %}
        </section>
      
        {% if featuredPosts|length == 4 %}
      
          <section class="bg-bonjour-grey" id="recentEventsSection">
            {% include "parts/recent-work/recent-work.twig" with {
              posts: featuredPosts
            } %}

            <div class="services-menu flex flex-column justify-center flex-row-m flex-row-l flex-row-xl
            pv3 pv4-m pv4-l pv4-xl center mw8  
            ph6-xl ph5-l ph5-m ph3">
              {% for item in global.menus.services.items %}
                <a href="{{item.link}}" 
                  class="{{button}} bg-persian-green bg-gravel-hover off-white {{item.class}}">
                  {{item.title}}
                </a>
              {% endfor %}
            </div>

          </section>

        {% endif %}


      </div>
      
    {% endblock app %}

  {% endif %}
