@import '../../../sass/variables';

.space-toggle-button {
  // &[data-state=inactive] {

  // }
  &[data-state=active] {
    background-color: transparent;
    border: 1px solid $persian-green;
    color: $persian-green;
  }
}

@keyframes showPreview {
  0% {
    transform: translateX(-50vw);
  } 
  100% {
    transform: translateX(0vw);
  }
}

@keyframes showPreviewFacilities {
  0% {
    transform: translateY(50vw);
  } 
  100% {
    transform: translateY(0vw);
  }
}

.space-preview  {
  .progressive-image-placeholder {
    transform: translateX(-50vw);
  }

  .space-preview-facilities {
    transform: translateY(50vw);
  }

  &[data-state=inactive] {
    display:none;
  }
  &[data-state=active] {
    display:block;
    .progressive-image-placeholder {
      animation: .5s ease showPreview forwards;
    }
    .space-preview-facilities {
      animation: .5s ease showPreviewFacilities forwards;
    }
  }
}