
{# Parameters #}

{% set videoBlockIframe = iframe ?? null %}
{% set iframeClasses = classes ?? null %}
{# {% set videoBlockIframeWidth = iframeWidth ?? null %}
{% set videoBlockIframeHeight = iframeHeight ?? null %} #}
{# {% set videoThumbnail = thumbnail %}
{% set videoAttrs = attrs ?? null %}
{% set videoClasses = classes ?? null %}
{% set VideoplayIcon = playIcon ?? 'play-icon-white' %} #}

{# Variables #}

{% if videoBlockIframe %}

  {% import 'macros/macros.twig' as mcro %}

  <div class="relative aspect-ratio {{iframeClasses}}" >

    <iframe 
      width="{{videoBlockIframe.minWidth}}px"
      height="{{videoBlockIframe.minHeight}}px"
      src="{{videoBlockIframe.url}}"
      frameborder="0"
      webkitallowfullscreen=""
      mozallowfullscreen=""
      allowfullscreen=""
      importance="low" 
      class="  ">
    </iframe>                           
                                                
  </div>

{% endif %}