{% set class = class ?? 'mw8 center' %}

<article class="mt5 darkslate-gray {{class}}">

  <h3 class="f5 ttu fw6 mb0 mt5 bb pb2 mw8 center {{titleClasses}}">{{title}}</h3>

  <div class="dt-ns dt--fixed-ns mt3">

    <div class="dtc-ns v-mid">

    {% block markup %}

    {% endblock markup %}

    </div>

  </div>

</article>
