<article class="mt5">
  <h3 class="f5 fw4 f5 mb3 sans-serif pb2 bb mb4">{{title}}</h3>
  <div class="dt-ns dt--fixed-ns">
    <div class="dtc-ns v-mid pr4-ns">
    {% block markup %}

    {% endblock markup %}
    </div>
      <div class="dtc-ns v-mid">
        <pre class="ba b--black-05 pa2 overflow-auto">
          <code class="db f5 ph3 lh-copy">
            {% block code %}

            {% endblock %}
          </code>
        </pre>
      </div>
  </div>
</article>
