{# base/components/social-icons.twig #}

{#
   Social Icons
   Use an array of icons and links to create an icon menu
   @param {Array} bem (optional)
      {
         block {String}
         element {String}
         modifier {Array}
      }
   @param {Array} attrs (optional)
   {
      Mixed
   }
   @param {Array} icons
      {
         icon {String}
         link {String}
      }
#}

{# Parameters #}
{% set navAttrs = attrs ?? null %}
{% set navBem = bem ?? null %}
{% set socialIconsUrl = link %}
{% set socialIconsText = text %}
{% set socialIconsClasses = classes ?? null %}
{% set socialIconsBemDefault = [{ block: 'nav', modifier: ['social-media'] }] %}

{# Variables #}
{% set socialIconsBem = (socialIconsBem) ? socialIconsBem|merge( socialIconsBemDefault ) : socialIconsBemDefault %}

{% set socialIconsArray = [
   { target: '_blank', 
      id: 'facebookIcon',
      icon: 'facebook', 
      link: 'https://www.facebook.com/sharer/sharer.php?u=' ~ socialIconsUrl 
   },
   { target: '_blank', 
      id: 'twitterIcon',
      icon: 'twitter', 
      link: 'https://twitter.com/intent/tweet/?text=' ~ socialIconsText ~ '&url=' ~ socialIconsUrl 
   },
   { target: '_blank', 
      id: 'linkedinIcon',
      icon: 'linkedin', 
      link : 'https://www.linkedin.com/shareArticle?mini=true&url=' ~ socialIconsUrl ~ '&title=' ~ socialIconsText ~'&summary='  ~ socialIconsText ~ '&source=' ~ socialIconsUrl 
   },
 	{ target: '', 
      id: 'emailIcon',
      icon: 'email', 
      link: 'mailto:?subject=' ~ socialIconsText ~ '&amp;body=' ~ socialIconsUrl 
   } 
 ]  %}

{# Output #}
{% if socialIconsArray %}

   {% import 'macros/macros.twig' as mcro %}

	<nav class="list flex {{socialIconsClasses}}">

		<span class="db tracked gravel {{heading1}} ttu din mr3 mt2 fw7 lh-solid">Share</span>

		{% for item in socialIconsArray %}

			<a href="{{item.link}}" target="{{item.target}}" id="{{item.id}}" class="no_ajax dib h1 mr3 gravel persian-green-hover">

				<img src="{{site.theme.uri}}/dist/img/png/{{item.icon}}-logo-white.png"
				 class="{{item.icon}}-logo db center h1 transition-1" />
				
			</a> 

		{% endfor %}

	</nav>

{% endif %}


