
{# base/components/recent-work/recent-work.twig #}

{#
   @param {array} posts
#}

{# Parameters #}
{% set recentWorkPosts = posts ?? null %}

{# Output #}
{% import 'macros/macros.twig' as mcro %}

<div id="recentwork" data-state=""  class="pb5 pb6-l bg-bonjour-grey">

  {% embed "parts/container-large/container-large.twig" %}
    {% block container %}

    {% if recentWorkTitle %}

      <h3 class="{{display2}} tc
      mb2 pv4 pt5-m pb4-m pt5-l pb4-l pt6-xl pb5-xl ma0">{{recentWorkTitle}}</h3>

    {% else %}

      <h3 class="{{display2}} tc
      mb2 pv4 pt5-m pb4-m pt5-l pb4-l pt6-xl pb5-xl ma0">Featured {{post.slug}}</h3>
    
    {% endif %}
    

        <div class="flex flex-column flex-row-m flex-row-l flex-wrap-m flex-wrap-l">
      
        {% for post in recentWorkPosts %}
      
          {% set classes = 'col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-3 pa2' %}
        
          {% if loop.index == 4 %}

            {% set classes = classes ~ ' dn db-xl' %}

          {% endif %}
        
          <div class="{{classes}}">
      
            {% include "parts/post-link/post-link.twig" %}

          </div>

        {% endfor %}

      </div>
    
    {% endblock %}
  {% endembed %}

</div>