{% spaceless %}
  {# 
    templates/work/work.twig 
  #}

  {# Service

    @param {Array} archive
      title => {String} 
      posts => {Array}
      work-categories => {Array}

    @param {Object} post
    

  #}

  {# Parameters #}
  {% set workArchive = archive ?? null %}
  {% set workPost = post ?? null %}

  {# Variables #}
  {% set appAttrs = null %}
  {% set postsArray = [] %}

  {# Output #}
  {% if archive is not null %}

    {% set jsonArray %}

      {% for post in archive.posts %}
      
         {% set innerHTML %}{% include "parts/post-link/post-link.twig" %}{% endset %}

         {% set html = innerHTML|raw %}

         {% set postsArray = postsArray|merge( [ html ] )  %}

      {% endfor %}

    {% endset %}

  {% endif %}

  {# {{dump(postsArray|json_encode())}} #}

  {{ postsArray|json_encode|raw }}

{% endspaceless %}