{# base/components/hero-right/hero-right.twig #}

{#
   hero-right
   @param {Post Obj} post
#}

{# Parameters #}
{% set heroRightPost = post ?? null %}
{% set HeroOverlayColour = overlayColour ?? 'bg-gravel' %}
{% set HeroTextColour = textColour ?? 'off-white' %}
{% set heroScrollTarget = scrollTarget ?? null %}

{# Variables #}
{% set heroRightClasses = '' %}

{# Output #}
{% import 'macros/macros.twig' as mcro %}

<div id="heroSimple" data-state=""  class="hero hero-right relative vh-90 vh-100-ns w-100">

   {% if post.custom._anomalous_meta_heroBackgroundCarousel %}

    {% include "parts/carousel/carousel.twig" with { 
      items: post.custom._anomalous_meta_heroBackgroundCarousel, 
      classes: 'h-100 w-100 z-0',
    } %}
  
  {% elseif post.custom._anomalous_meta_heroBackgroundVideo %}

    {% include "parts/background-video/background-video.twig" with { 
      sources: [ post.custom._anomalous_meta_heroBackgroundVideo ],
      thumbnail: post.custom._anomalous_meta_heroBackgroundVideoPoster
    } %}
  
  {% else %}
    
    {% include "parts/progressive-image/progressive-image.twig" with { 
      obj: post.custom._anomalous_meta_backgroundImage,
      ratio: '',
      classes: 'absolute absolute--fill h-100 progressive-image-background'
    } %}

  {% endif %}

  <div class="absolute absolute--fill flex justify-between h-100">

    <div class="
      hero-overlay
      {{HeroOverlayColour}}
      mr-auto
    ">
    </div>

  </div>	

  <div class="absolute flex flex-column w-100 h-100 bottom-0 pb6 pb5-ns">

      {# Long row #}
    <div class="flex justify-center items-center h-100">
    
      <h1 class="{{display1}}
        lh-solid din ttu fw6 gravel mv0 tc
        hero--headline">{{post.title}}</h1>
    </div>

  </div>

  <div class="absolute bottom-1 right-0 left-0 flex justify-center hero-down-arrow">

    <a href="#{{heroScrollTarget}}" class="db gravel">
    
      <img src="{{site.theme.uri}}/dist/img/png/down-arrow-icon-gravel.png" class="down-arrow-icon w2 pointer"/>

    </a>

  </div>

</div>
