{# base/components/menuu.twig #}

{#
   Menu
   From the menu object create a menu
   @param {Array} attrs (optional)
   {
      Mixed
   }
   @param {Timber Menu Object}
#}

{# Parameters #}
{% set navMenu = menu ?? null %}
{% set navAttrs = attrs ?? null %}
{% set navClasses = classes ?? null %}

{# Variables #}
{% set navClassesDefault = 'nav ' %}
{% set navBtnClassesDefault = 'nav__item mr4 ' %}
{% set navBtnClasses = navBtnClassesDefault ~ navBtnClasses %}
{% set navClasses = navClassesDefault ~ navClasses %}
{% set subMenuClasses = 'dn nav__sub-menu' %}

{# Output #}
{% if navMenu %}

  {% import 'macros/macros.twig' as mcro %}

  <nav class="flex flex-column items-center center">

    {% for item in navMenu %}

      <a href="{{item.link}}" 
        class="mb4 no-underline tracked-mega persian-green gravel-hover f4 f2-ns ttu din {{item.class}}">{{item.title}}</a>

    {% endfor %}

  </nav>

{% endif %}
