{# base/components/mobile-menu-modal/mobile-menu-modal.twig #}

{#
   mobile-menu-modal
   From the menu object create a menu
   @param {Array} bem (optional)
      {
         block {String}
         element {String}
         modifier {Array}
      }
   @param {Array} attrs (optional)
   {
      Mixed
   }
   @param {Timber Menu Object}
#}

{# Parameters #}
{% set headerAttrs = attrs ?? null %}
{% set headerBem = bem ?? null %}
{% set menuItems = global.header.menu.items ?? null %}

{# Variables #}
{% set headerClasses = 'bg-black' %}

{# Output #}
{% import 'macros/macros.twig' as mcro %}


<div id="contactModal" class="fixed top-0 contact-modal bg-gravel vh-100 w-100 z-5" data-state="init">

	<div class="flex flex-column justify-center h-100">

		<div class="z-5 flex w-100 justify-between items-center pv3 ph3 ph4-ns fixed z-1 top-0">	

			<a class="db header-logo white">
     	 <img src="{{site.theme.uri ~ '/dist/img/png/' ~ 'full-logo'}}.png" class="h2 full-logo" />
  	  </a>
			{% include "hamburger/hamburger.twig" with { 
				id: 'contactModalClose', 
				state: 'open', 
				classes: 'pa3', 
				layerClasses: 'bg-white'
			} %}
		</div>

		<div class="ph3 ph5-ns vh-70">

			<div class="flex justify-between h-100">

				{# Left Column #}
				<div class="col-xs-12 col-md-6 col-lg-6 flex flex-column justify-between items-between">

					{% if global.anomalous_contacts.contacts %}
					
						<div class="flex h-100">
							<div class="addresses white flex flex-column justify-center">
								{% for item in global.anomalous_contacts.contacts %}
									{% if item.service %}
										<p class="f4 montserrat fw3 mv2">
											Anomalous {{item.service}}
											{% if item.emailAddress %}
												<span> - </span><a href="mailto:{{item.emailAddress}}" class="dib f5 montserrat persian-green-hover link fw3 white no-underline">{{item.emailAddress}}</a>
											{% endif %}
										</p>
									{% endif %}
								{% endfor %}
							</div>
						</div>

					{% endif %}
				
					<div>
						<div class="addresses white mt5 mb4">
							<a href="{{global.company_info.gg_maps_link}}" target="_blank" class="db f5 montserrat persian-green-hover link fw3 mv2 white no-underline">
								<p class="f4 montserrat fw3 mv2">{{global.company_info.address}}</p>
							</a>
							<a href="tel:{{global.company_info.telephoneNo}}" class="db f5 montserrat persian-green-hover link fw3 mv2 white no-underline">{{global.company_info.telephoneNo}}</a>
							<a href="mailto:{{global.company_info.emailAddress}}" class="db f5 montserrat persian-green-hover link fw3 mv2 white no-underline">{{global.company_info.emailAddress}}</a>
						</div>

						{# address #}
						<div class=" flex items-center justify-start">
						
							{% for item in global.social_media %}

								<a href="{{item.profileLink}}" class="dib h1 mr3 white link persian-green-hover">

									<img src="{{site.theme.uri}}/dist/img/png/{{item.platform}}-logo-white.png" class="{{item.platform}}-logo db center h1" />
								
								</a>
								
							{% endfor %}

						</div>
					</div>

				</div>

				{# Right Column #}
				<div class="dn db-ns col-md-6 col-lg-6 ">
					
					<div id="map"></div>

				</div>

			</div>

		</div>

	</div>

</div>
