@keyframes contact-modal-slide-in-from-right {
  0% {
    transform: translateX(125vw);
  }
  100% {
    transform: translateX(0vw);
  }
};

@keyframes contact-modal-slide-to-right {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(125vw);
  }
};

.contact-modal {
  will-change: transform;
  &[data-state=init] {
    transform: translateX(-125vw);
  }

 &[data-state=hide] {
    animation: .25s ease contact-modal-slide-to-right forwards;
  }

 &[data-state=show] {
    animation: .5s ease contact-modal-slide-in-from-right forwards;
  }
}