{# base/components/mobile-menu-modal/mobile-menu-modal.twig #}

{#
   mobile-menu-modal
   From the menu object create a menu
   @param {Array} bem (optional)
      {
         block {String}
         element {String}
         modifier {Array}
      }
   @param {Array} attrs (optional)
   {
      Mixed
   }
   @param {Timber Menu Object}
#}

{# Parameters #}
{% set headerAttrs = attrs ?? null %}
{% set headerBem = bem ?? null %}
{% set menuItems = global.header.menu.items ?? null %}

{# Variables #}
{% set headerClasses = 'bg-black' %}

{# Output #}
{% import 'macros/macros.twig' as mcro %}

<div class="menu-overlay z-4 fixed left-0 top-0 bg-persian-green o-50 vh-100 w-100 pointer" data-state="init"></div>

<div id="primarySiteMenuModal" class="z-5 menu-modal fixed top-0 bg-bonjour-grey vh-100" data-state="init">

	<div class="flex flex-column justify-between h-100">

		<div class="pb4 flex justify-end items-center">	
			{% include "hamburger/hamburger.twig" with { 
				id: 'primaryMenuClose', 
				state: 'open', 
				classes: 'pv3 ph3 ph4-ns', 
				layerClasses: 'bg-persian-green'
			} %}
		</div>

		<div>	
			<div class=" flex flex-column justify-center items-center h-100">

				{% include 'parts/menu/menu.twig' 	with {
					menu: global.menus.primary.items,
				} %}

			</div>
		</div>

		<div>		
			<div class=" flex flex-column justify-center items-center h-100">

				{% include 'parts/menu/menu.twig' with {
					menu: global.menus.secondary.items,
				} %}

			</div>
		</div>

		<div>
			<div class="bg-bonjour-grey mb5 flex-ns items-center justify-center flex-wrap dn">
			
				{% for item in global.social_media %}

					<a href="{{item.profileLink}}" class="dib h1 mr3 white persian-green gravel-hover">

						<img src="{{site.theme.uri}}/dist/img/png/{{item.platform}}-logo-persian-green.png" class="{{item.platform}}-logo db center h1" />
					
					</a>
					
				{% endfor %}

			</div>
		</div>

	</div>

</div>
