@import './../../../sass/variables';

@keyframes showfromUnder {
  0% {
    opacity:0;
  }
  100% { 
    opacity:.5;
  }
};
@keyframes hidefromUnder {
  0% { 
    opacity:.5;
  }
  100% {
    opacity:0;
  }
};
.menu-overlay {
  will-change: opacity, transform;
  &[data-state=init] {
    opacity:0;
    transform: translateX(100vw);
  }
  &[data-state=show] {
    animation: .5s ease showfromUnder forwards;
    transform: translateX(0vw);
  }
  &[data-state=hide] {
    animation: .5s ease hidefromUnder forwards;
    transform: translateX(100vw);
  }
}


@keyframes slide-in-from-right {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(10vw);
  }
};

@keyframes slide-to-right {
  0% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(100vw)
  }
};

.menu-modal {
  will-change: transform;
  box-shadow: 1px 0px 3px rgba(0,0,0,0.3);
  width: 90vw;
  &[data-state=init] {
    transform: translateX(100vw);
  }
  &[data-state=show] {
    animation: .25s ease slide-in-from-right forwards;
  }
  &[data-state=hide] {
    animation: 1s ease slide-to-right forwards;
  }
}


@media #{$breakpoint-large} {
  .menu-modal {
    width: 40vw;
  }
  @keyframes slide-in-from-right {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(60vw);
    }
  };
  
  @keyframes slide-to-right {
    0% {
      transform: translateX(60vw);
    }
    100% {
      transform: translateX(100vw);
    }
  };
}
@media #{$breakpoint-extra-large} {
  .menu-modal {
    width: 35vw;
  }
  @keyframes slide-in-from-right {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(65vw);
    }
  };
  
  @keyframes slide-to-right {
    0% {
      transform: translateX(65vw);
    }
    100% {
      transform: translateX(100vw);
    }
  };
}