{# parts/container-extra-small/container-extra-small.twig #}

{# parameters #}

{# variables #}

{# output #}
<div class="ph4 ph5-m ph5-l ph6-xl">

  <div class="ph5-xl ph4-l">

    {% block container %}
    
    {% endblock %}

  </div>

</div>