
  {# 
    templates/work/work.twig 
  #}

  {# Service

    @param {Array} archive
      title => {String} 
      posts => {Array}
      work-categories => {Array}

    @param {Object} post
    

  #}

  {# Parameters #}
  {% set workArchive = archive ?? null %}
  {% set workPost = post ?? null %}

  {# Variables #}
  {% set appAttrs = null %}

  {# Output #}
  {% if archive is not null %}

    {% extends standalone ? 'templates/minimal/minimal.twig' : 'templates/app/app.twig' %}
    
    {% import 'macros/macros.twig' as mcro %}

    {% block app %}

      {% if standalone != true %}

        <div class="absolute z-0 right-0 h-100 w-100 ml-auto hero-overlay bg-bonjour-grey half-background top-0" data-state=""></div>

        <div class="pt6 relative" id="workPage">

          <section class="" id="workArchiveSection">

            <div class="ph4 ph5-m ph5-l ph6-xl">

              <div class="ph5-xl ph4-l">

                <div id="workCategories" class="mb3 dn db-ns">

                  {% include 'parts/categories-menu/categories-menu.twig' with {
                    menu: global.menus.workCategories.items,
                  } %}

                </div>

            <div id="workPosts" class="mb6 block-reveal-1">

             <div class="archive flex flex-column flex-row-m flex-row-l flex-wrap-m flex-wrap-l" id="archive">
             
      {% endif %}   

              {% for post in archive.posts %}
              
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 post pa2">
            
                  {% include "parts/post-link/post-link.twig" %}

                </div>

              {% endfor %}

      {% if standalone != true %}

            </div>

          </div>

          {# This should only show if we have more posts to load #}

           {% if archive.more > 0 %}
    

            <div class="mv4 mv6-l flex justify-center">

              <a href="#load-more" id="loadMore" class="{{button}} bg-persian-green bg-gravel-hover off-white"
              data-total="{{archive.found}}"
              data-more="{{archive.more}}"
              data-offset="{{archive.posts_per_page}}"
              data-posts-per-page="{{archive.posts_per_page}}"
              data-post-type="{{archive.post_type}}"
              data-taxonomy="{{archive.taxonomy}}"
              data-category="{{archive.category}}"
              data-tag="{{archive.tag}}"
              data-term="{{archive.term}}"
              data-template="{{archive.template}}"
              data-state="show">load more</a>

              {# 
               data-total="18"
               data-more="1"
               data-offset="15"
               data-posts-per-page="15"
               data-post-type="work"
               data-taxonomy="work-categories"
               data-category=""
               data-tag=""
               data-term="events"
               data-template="templates/archive-work/archive-work"
               data-state="show"
              #}

            </div>
          
          {% endif %}

            </div>
          </div>

        </section>

      </div>
    
    {% endif %}   

    {% endblock app%}

  {% endif %}
