
  {# 
    templates/single-work/single-work.twig 
  #}

  {# Service 

    @param {Array} mainVideo
      videoURL' {String}
      videoFallbackImage {String}

    @param {Array} testimonial
      testimonialContent {String} 
      testimonialAuthor {String}

    ---- template #2 ----

    @param {Array} contentVideo
      {String} url
      {String} fallbackImage

    @param {String} testimonialVideo
      {String} url
      {String} fallbackImage
  #}

  {# Parameters #}
  {% set workPost = post %}

  {# Output #}
  {% if workPost is not null %}

    {% extends  'templates/app/app.twig' %}
    
    {% import 'macros/macros.twig' as mcro %}

    {% block app %}

    <div class="
      dn db-m db-l
      absolute
      z-0
      right-0
      h-100
      w-100
      ml-auto
      hero-overlay
      bg-bonjour-grey
      background-75
      top-0" data-state="show"></div>

      <div class="pt6 bg-off-white" id="workPost">

        <section id="heroSection">

          {% embed "parts/container-large/container-large.twig" %}

            {% block container %}

              <div class="block-reveal mw7 center" id="singleWorkHeroVideo">

                {% include "parts/progressive-image/progressive-image.twig" with { 
                  obj: post.featuredImage,
                  ratio: '16x9',
                  classes: 'z-1 progressive-image-background',
                  id: 'workHeroImage'
                } %}                

              </div>

            {% endblock container %}

          {% endembed %}

        </section>

        <section class="" id="mainContentSection">

         {% embed "parts/container-extra-small/container-extra-small.twig" %}

            {% block container %}

              <div class="relative mw7 center">

                <div class="pv5">

                {% include "parts/entry-content-post/entry-content-post.twig" with {
                  id: 'entryContentTemplate1'
                } %}

                {% include "parts/social-share-icons/social-share-icons.twig" with { 
                  link: post.link, 
                  text: post.title ~ ' — ' ~ post.post_content|excerpt(30), 
                  classes: 'mt4'
                } %}

                 

              </div>

            {% endblock container %}

          {% endembed %}

        </section>

        <div class="bg-off-white pv5 w-100 relative">

        </div>

        <section class="bg-bonjour-grey relative" id="recentEventsSection">

          {% if post.relatedPosts|length == 4 %}
        
            {% include "parts/recent-work/recent-work.twig" with {
              posts: post.relatedPosts,
              recentWorkTitle: 'Featured Posts'
            } %}
            
          {% endif %}

          <div class="pv3 pv5-l pv5-xl flex justify-center text-reveal" id="SpaceBook">

            <a href="{{global.page_for_posts}}"
              class="{{button}} bg-persian-green bg-gravel-hover transition-1 off-white mh1">
              Back to Blog
            </a>

          </div>
          
        </section>

      </div>
      
    {% endblock app %}

  {% endif %}

