@import './../../../sass/variables';

@media #{$breakpoint-medium} {
  .work-template-work-template-4 {
    // top
    .overlapping-image-1 {
      transform: translate(2em, 21em);
    }
    .overlapping-image-2 {
      transform: translate(5vw, 10vh);
    }
    .overlapping-image-3 {
      transform: translate(23vw, -27vh)
    }
    .overlapping-image-4 {
      transform: translateY(8em);
    }  
  }
}

@media #{$breakpoint-large} {
  .work-template-work-template-4 {
    // top
    .overlapping-image-1 {
      transform: translate(2em, 21em);
    }
    .overlapping-image-2 {
      transform: translate(5vw, 10vh);
    }
    .overlapping-image-3 {
      transform: translate(17vw, -27vh)
    }
    .overlapping-image-4 {
      transform: translateY(8em);
    }  
  }
}
  
  
