
{# Parameter  #}
{% set clientCarouselItems = post._anomalous_meta_clientCarousel ?? null %}

{% set carouselClasses = classes ?? null %}

{% if clientCarouselItems is not null %}

  <h3 class="{{display2}} gravel tc
    mb2 pv4 pt5-m pb4-m pt5-l pb4-l pt6-xl pb5-xl ma0">Clients</h3>

  <div class="fs-slides clients-carousel owl-carousel pb5 {{carouselClasses}}">

    {% for item in clientCarousel %}

     {% set images = null %}
     

      {% set carouselImg %}
        <img src="{{item.logo}}" class="w-100 db" />
      {% endset %}

      {% set carouselImgAbsolute %}
        <img src="{{item.logo}}" class="w-100 db absolute absolute--fill center" style="margin: auto;"/>
      {% endset %}

      {% set carouselImgHover %}
        <img src="{{item.logoHover}}" class="w-100 db absolute absolute--fill center child" style="margin: auto;"/>
      {% endset %}

      {% if item.logoHover %}
      
        {% set images %}

          <div class="relative h4 w-100">

            <img src="{{item.logo}}" class="w-100 db absolute absolute--fill center" style="margin: auto;"/>
            <img src="{{item.logoHover}}" class="w-100 db absolute absolute--fill center child" style="margin: auto;"/>

          </div>

        {% endset %}

      {% endif %}
      

      {% if item.link %}
      
        <a href="{{item.link}}" class="db no-underline flex flex-column justify-center items-center hide-child">

          {% if images %}
            {{images}}
          {% else  %}
            <img src="{{item.logo}}" class="w-100 db" />
          {% endif %}          

          {# {{carouselImgAbsolute}} #}
          
          {# <div class="hide-child" style="
            height:100px;
            max-height: 100px;
            width: auto;
            max-width: 100%;
            margin: auto;
          ">
            {{carouselImgHover}}
          </div> #}
        </a>  

      {% else %}

        {{carouselImg}}

      {% endif %}

    {% endfor %}

  </div>

{% endif %}