
// .gallery-item {
//   transition: .3s all;
//   transform-origin: top left;
//   &[data-state=active] {
//     z-index: 5;
//     transform: scale(2.04);
//   }
//   &:nth-child(3)[data-state=active] {
//     transform-origin: top right;
//   }
// }

@import './../../../sass/variables';

.gallery-link {
  .gallery-item {
    transition: .3s all;
    transform-origin: top left;
  }
  &[data-state=active] {
    .gallery-item {
      z-index: 5;
      transform: scale(2.04);
    }
  }
}

@media #{$breakpoint-large} {
  .gallery-link {
    .gallery-item {
      transition: .3s all;
      transform-origin: top left;
    }
    &:nth-of-type(3n) {
      .gallery-item {
        transform-origin: top right; 
      }
    }
    &:nth-last-of-type(1) {
      .gallery-item {
        transform-origin: bottom right; 
      }
    }
    &:nth-last-of-type(3), 
    &:nth-last-of-type(2) {
      .gallery-item {
        transform-origin: bottom left; 
      }
    }
  }  
}

@media #{$breakpoint-medium} {
  .gallery-link {
    .gallery-item {
      transition: .3s all;
      transform-origin: top left;
    }
    &:nth-child(3n) {
      .gallery-item {
        transform-origin: top right; 
      }
    }
    &:nth-last-child(1) {
      .gallery-item {
        transform-origin: bottom right; 
      }
    }
    &:nth-last-child(3), &:nth-last-child(2) {
      .gallery-item {
        transform-origin: bottom left; 
      }
    }
  }  
}