
{# parts/gallery/gallery.twig  #}

{# parameter #}
{% set galleryVideoArray = videosArray %}
{% set galleryImageClasses = classes ?? null %}
{% set galleryHrefImageSize = hrefImageSize ?? 'desktop' %}

{% if galleryVideoArray %}
  
  {% embed "parts/container-small/container-small.twig" %}

    {% block container %}

      <div id="gallery" class="lightbox-video-gallery flex flex-column flex-row-m flex-row-l flex-wrap-m flex-wrap-l">

        {% for item in galleryVideoArray %}
        
          <a href="{{item.url}}" class="gallery-link
            col-xs-12 
            col-sm-6 
            col-md-6 
            col-lg-6 
            col-xl-6 
            pa2
            post-link db relative
          "> 
            <div class="relative col-xs-12 hide-child pointer mb2">
            
              {% include "parts/progressive-image/progressive-image.twig" with { 
                obj: item.images,
                ratio: '16x9',
                classes: 'z-1 progressive-image-background gallery-item ' ~ galleryImageClasses
              } %}
              <span class="w3 h3 db absolute absolute--fill center center-h child white lightbox-video-link z-2"></span>
              
            </div>
          
          </a>

        {% endfor %}

      </div>
    
    {% endblock container %}
    
  {% endembed %}

{% endif %}
