{# base/components/hero-right/hero-right.twig #}

{#
   hero-right
   @param {Post Obk} post
#}

{# Parameters #}
{# {% set headerAttrs = attrs ?? null %} #}
{% set heroRightPost = post ?? null %}
{% set HeroOverlayColour = overlayColour ?? 'bg-gravel' %}
{% set HeroTextColour = textColour ?? 'off-white' %}
{% set heroScrollTarget = scrollTarget ?? null %}

{# Variables #}
{% set heroRightClasses = '' %}

{# Output #}
{% import 'macros/macros.twig' as mcro %}

<div id="heroRight" data-state="init" 
class="overflow-hidden hero hero-right relative vh-90 vh-100-m vh-100-l vh-100-ns w-100 cover">


  {% if post.custom._anomalous_meta_heroBackgroundCarousel %}

    {% include "parts/carousel/carousel.twig" with { 
      items: post.custom._anomalous_meta_heroBackgroundCarousel, 
      classes: 'h-100 w-100 z-0',
    } %}
  
  {% elseif post.custom._anomalous_meta_heroBackgroundVideo %}

    {% include "parts/background-video/background-video.twig" with { 
      sources: [ post.custom._anomalous_meta_heroBackgroundVideo ],
      thumbnail: post.custom._anomalous_meta_heroBackgroundVideoPoster
    } %}
  
  {% else %}
    
    {% include "parts/progressive-image/progressive-image.twig" with { 
      obj: post.custom._anomalous_meta_heroBackgroundImage,
      ratio: '',
      classes: 'absolute absolute--fill h-100 progressive-image-background'
    } %}

  {% endif %}

  <div class="absolute absolute--fill flex justify-between h-100">

    <div class="
    {# col-xs-12 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6  #}
      ml-auto
      hero-overlay
      {{HeroOverlayColour}}
    "></div>

  </div>	

  <div class="absolute flex flex-column w-100 bottom-0 pb2 pb6-ns">

      {# Long row #}
    <div class="flex justify-end">

      <div class="col-xs-12 col-md-8 col-md-offset-4 col-lg-7 col-lg-offset-5 flex flex-column justify-end 
       pl4-ns pr5-ns pl3 pr3">
        
        <h1 class="{{display1}}
         din mt0 tl hero--headline hero--headline-right mb3">{{post.title}}</h1>

      </div>

    </div>

    {# split row #}
    <div class="flex justify-between h-100">

      <div class="col-xs-12 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6 flex flex-column justify-end">

        <div class="text-wrap pl3 pr3 pl4-ns pr5-ns"> 

          <h2 class="f4 f2-ns ttu din fw3 tracked lh-copy mb1 measure {{HeroTextColour}}">{{post._anomalous_meta_heroParagraph1}}</h2>

          <h3 class="f5 f4-ns montserrat fw3 lh-copy mr4-l mt0 measure {{HeroTextColour}}">{{post._anomalous_meta_heroParagraph2}}</h3>

        </div>
        
      </div>

    </div>

  </div>

  <div class="absolute bottom-1 right-0 left-0 justify-center hero-down-arrow dn flex-m flex-l flex-xl">

    <a href="#{{heroScrollTarget}}" class="db persian-green">
    
      <img src="{{site.theme.uri}}/dist/img/png/down-arrow.png" class="down-arrow-icon w2 pointer"/>

    </a>

  </div>

</div>
