@import '../../../sass/variables';

.hero--headline {
  line-height: 0.5;
  position: relative;
}

@media #{$breakpoint-large} {
  .hero--headline-right {
    left: -4.5vw;
  }
}

@keyframes imagePlaceholder {
  0% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes heroOverlay {
  0% {
    transform: translateX(-100vw);
    width: 100%;
  }
  50% {
    width: 100%;
  }
  66% {
    transform: translateX(0vw);
    opacity: 1;
  }
  100% {
    transform: translateX(0vw);
    opacity: .75;
  }
}

@media #{$breakpoint-large} {
  @keyframes heroOverlay {
    0% {
      transform: translateX(-100vw);
      width: 100%;
    }
    50% {
      width: 100%;
    }
    66% {
      width: 50%;
      transform: translateX(0vw);
      opacity: 1;
    }
    100% {
      width: 50%;
      transform: translateX(0vw);
      opacity: .75;
    }
  }
}


@keyframes textReveal {
  0% {
    opacity: 0;
    transform: translateY(20vh);
  }
  66% {
    opacity: 0;
    transform: translateY(20vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  
    .progressive-image-placeholder {
      transform: translateX(-200vw);
    }
    .hero-overlay {
      transform: translateX(-100vw);
      width: 100%;
      opacity: 1;
    }
    .hero--headline,
    .text-wrap h2,
    .text-wrap h3,
    .hero-down-arrow {
      opacity:0;
      transform: translateY(20vh);
    }
  
  
  &[data-state=show] {
    .progressive-image-placeholder {
      animation: 1s ease-out .8s imagePlaceholder forwards;
    }
    .hero-overlay {
      animation: 1.5s ease .8s heroOverlay forwards;
    }
    .hero--headline {
      animation: 1.5s ease .8s textReveal forwards;
    }
    .text-wrap h2 {
      animation: 1.5s ease .9s textReveal forwards;
    }
    .text-wrap h3 {
      animation: 1.5s ease 1s textReveal forwards;
    }
    .hero-down-arrow {
      animation: 1.5s ease 1.1s textReveal forwards;
    }
  }
}