// $breakpoint-not-small: 'screen and (min-width: 48em)' !default;
// $breakpoint-medium: 'screen and (min-width: 48em) and (max-width: 64em)' !default;
// $breakpoint-large: 'screen and (min-width: 64em) and (max-width: 93.75em)' !default;
// $breakpoint-xtra-large: 'screen and (min-width: 93.75em)' !default;
/** 
 * Breakpoints
*/
$breakpoint-not-small: 'screen and (min-width: 48em)' !default;
$breakpoint-xtra-small: 'screen and (max-width: 32em)' !default;
$breakpoint-medium: 'screen and (min-width: 48em) and (max-width: 64em)' !default;
$breakpoint-large: 'screen and (min-width: 64em)' !default;
$breakpoint-extra-large: 'screen and (min-width: 128em)';

/** 
 * Anomalous Colours
*/
$off-white: #FEFEFE;
$bonjour-grey: #EFEDEF;
$half-baked-green: #87CBC8;
$persian-green: #00ABAA;
$gravel: #4E474F;

/** 
 * Anomalous Type Scale
*/
$font-size-headline: 11.089em;
$font-size-headline-2: 6.854em;

$font-size-subheadline: 3rem; // 40px

$font-size-1: 2.5rem; // 40px
$font-size-2: 1.5rem;// 24px
$font-size-3: 1.25rem; // 20px
$font-size-4: 1rem; // 16px
$font-size-5: .875rem; // 14px
$font-size-6: .6875rem; // 11px

$height-1: 1.5rem !default;
$height-2: 2rem !default;
$height-3: 4rem !default;
$height-4: 8rem !default;
$height-5: 16rem !default;

$box-shadow-6: 0 1px 20px 1px rgba(0, 0, 0, 0.3);
$box-shadow-7: 0 2.5px 2.5px 0px rgba(0, 0, 0, 0.1);

$measure-wider: 45em !default;

/**
* ---- Fonts ------ 
*/

/** 
 * DIN bold
 * - Hero Headline (VISUAL)
 * - Section Headline 
 * - Post Headline
 * - Content Headline
 * -- All 2.5rem except Hero
 */ 

/** 
 * DIN alternative bold 
 * - Hero Headline (SPACE)
 * - Work Categories Menu top level
 * - Space page Gallery menu
 */

/** 
 * DIN light
 * - All hero Subheadlines
 * - Work Archive Subheadline
 * - Meet Abbi Headline
 * - Work Post terms (client, work type)
 * - Work post 'credits' subheadline
 * - Contact Dialog Headlines
 */ 

/** 
 * Gilroy Bold
 * - 'THE TEAM' headline
 */ 

  /** 
 * Gilroy Light
 * - Quote
 * - Meet Abbi paragraph
 * - Frontpage paragraph
 * - All buttons
 */ 

 /** 
 * Gilroy SemiBold
 * - Map?
 */ 

 /** 
 * Montserrat Bold
 * - Quote Author
 * - Map Places
 * 
 */ 

/** 
 * Montserrat Light
 * - Terms Children
 * - Space page copy
 * - Spacepage Facilities copy
 * - Team copy
 * - All Address, telephone, email details
 * - footer: legal
 * - Siteby 
 */ 

 /** 
 * Montserrat Medium
 * - Footer Menu
 * - Map Roadnames
 */ 


/**
* -- .f-subheadline (40px)
* - All copy headlines
* - All setcion headlines
*/

/**
* ---- Font sizes ------ 
*/

/**
* -- .f1 (48px)
* - 'the team'
*/

/**
* -- .f2 (36px)
* 
*/

/**
  * -- .f3 (24px)
  * - Work Post terms (client, work type)
  * - Hero Subtitle
  * - Facilities copy
  * - Main menu items-
  * - Contact Headlines
  * - Contact email, address, tel
  */

/**
  * -- .f4 (20px)
  * - Buttons
  * - Spacepage Gallery buttons
  */
 
/**
  * -- .f5 (16px)
  * - Quote Author
  */

  /**
  * -- .f6 (14px)
  * - Address, email, telephpne
  */

    /**
  * -- .f7 (11px)
  * - legal
  * - siteby
  */