{# base/components/header.twig #}

{#
   Header
   @param {String} logoUrl (url to the logo because they vary)
#}

{# Parameters #}
{% set headerClassnames = headerClassnames ?? null %}

{# {% set headerLogo = logo ?? 'full-logo' %} #}
{% set headerLogo = 'full-logo' %}

{# Variables #}

{# Output #}
{% if headerLogo %}

  {# this will be transparent #}
  <header class="z-5 flex w-100 justify-between items-center pv3 ph3 ph4-ns {{headerClassnames}}" id="deskopHeader">

    <a href="#home" class="db header-logo gravel" id="headerLogo">
  
      <img src="{{site.theme.uri ~ '/dist/img/png/' ~ headerLogo}}.png" class="h2 {{headerLogo}}" />
  
    </a>

    {% include "hamburger/hamburger.twig" with { 
      id: 'primaryMenuOpen', 
      state: 'closed', 
      layerClasses: 'bg-gravel'
    } %}
    
  </header>

{% endif %}
