
@import './../../../sass/variables';

#deskopHeader[data-state=hide] {
  background-color: $off-white;
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.3);
  top: -20vh;
  animation-name: slideAboveWindow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

#deskopHeader[data-state=show] {
  background-color: $off-white;
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.3);
  animation-name: slideBelowWindow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
