
  {# 
    templates/single-work/single-work.twig 
  #}

  {# Service 

    @param {Array} mainVideo
      videoURL' {String}
      videoFallbackImage {String}

    @param {Array} testimonial
      testimonialContent {String} 
      testimonialAuthor {String}

    ---- template #2 ----

    @param {Array} contentVideo
      {String} url
      {String} fallbackImage

    @param {String} testimonialVideo
      {String} url
      {String} fallbackImage
  #}

  {# Parameters #}
  {% set workPost = post ?? null %}

  {# Output #}
  {% if workPost is not null %}

    {% extends  'templates/app/app.twig' %}
    
    {% import 'macros/macros.twig' as mcro %}

    {% block app %}

    <div class=" dn db-m db-l absolute z-index right-0 h-100 w-100 ml-auto hero-overlay bg-bonjour-grey half-background top-0" 
      data-state="show">
    </div>
      
      <div class="pt6 bg-off-white" id="workPost">

        <section class="" id="mainContentSection">
-
          <div class="relative">

            <div class="relative z-2">

            {% embed "parts/container-large/container-large.twig" %}

              {% block container %}

                  <div class="row">
                    
                    <div class="col-lg-6 col-md-6 col-xs-12
                      pr3-m pr3-l pr4-xl 
                      flex flex-column justify-start
                      mb0-l mb0-xl mb3
                    ">

                      <div class="block-reveal" id="singleWorkHeroVideo">

                        {{post.content}}
                        
                      </div>

                    </div>

                    <div class="col-lg-6 col-md-6 col-xs-12 
                      pl3-m pl3-l pl3-xl
                      mb3 mb0-m mb0-l mb0-xl
                    ">

                      <div 
                        class="entry-content {{entryContentClasses}} text-reveal" 
                        id="WorkPlaylistTemplate"
                      >

                        {% set terms = post.terms('work-categories') %}

                        {% if terms|length > 0 %}

                          {% for term in terms %}

                            {% if term.parent != 0 %}

                              <span class="db mb2 tracked persian-green {{heading1}} ttu din">
                                /{{term.name}}
                              </span>

                            {% endif %}

                          {% endfor %}

                        {% endif %}

                        {% set client = post.terms('client').0 %}

                        {% if client %}

                          <span class="db mb3 tracked persian-green {{heading1}}  ttu din">
                            Client: <a href="{{client.link}}" class="dib mb2 tracked persian-green gravel-hover no-underline {{heading1}} ttu din">{{client.name}}</a>
                          </span>  
                        
                        {% endif %}

                        <h1 class="{{display2}} ma0 mb2">
                          {{post.title ?? 'No Title'}}
                        </h1>

                        {# {% if post.custom._anomalous_meta_project_credits %}

                          {% include "parts/btn/btn.twig" with { 
                            textNode: 'credits',
                            id: 'projectCredits', 
                            postID: post.id } 
                          %}

                        {% endif %} #}

                        <span class="db bb b--persian-green pb3 bw3 w3" style=""></span>
                    
                        {# 
                          @todo add to CMB2 
                          - WYSIWYG editor
                        #}
                        {# paragraphs from WYSIWYG will have margin. #}
                        {% if post.playlistDescription %}
                          {{function('wpautop', post.playlistDescription)}}
                        {% endif %}

                        {# @todo add to CMB2 #}

                          {# 
                            @todo update these variables to reflect CMB2s I will use
                            for this new section.
                            - Testimonial Field
                            #}

                        {% include "parts/testimonial/testimonial.twig" with {
                          content: post._anomalous_meta_testimonialContent,
                          author:  post._anomalous_meta_testimonialAuthor,
                          classes: 'mb5 persian-green text-reveal center',
                          id: 'workTestimonial'
                        } %}


                      </div>

                    </div>
                    
                  </div>

                {% endblock %}
                
              {% endembed %}

            </div>

          </div>

        </section>

      </div>
      
    {% endblock app %}

  {% endif %}

