{# base/components/services-content/services-content.twig #}

{#
   @param {Post Obj} post
#}

{# Parameters #}
{% set servicesContentPost = post ?? null %}

{# Output #}
{% import 'macros/macros.twig' as mcro %}

 <div class="parallax-image w-100 vh-100 vh-75-l cover overflow-hidden">
          
  {% embed "parts/progressive-image-parallax/progressive-image-parallax.twig" with { 
    obj: post.custom._anomalous_meta_testimonialParalaxImage,
    ratio: '',
    classes: 'h-100'
  } %}

    {% block content %}

      <div class="absolute absolute--fill z-1 testimonial bg-gravel-50 pv5">

        {% embed "parts/container-extra-small/container-extra-small.twig" %}

          {% block container %}

            <div class="h-100 flex flex-column justify-center text-reveal off-white" id="testimonialParallax">
            
              {% if post._anomalous_meta_paralaxTestimonialContent %}

                {% if post.testimonialParalaxQuoteicon %}
                    
                  <img src="{{site.theme.uri}}/dist/img/png/big-quote-persian-green.png" class="big-quote center db mb4" />
                
                {% endif %}

                <div class="{{heading2}} montserrat fw3 lh-copy tc center off-white measure-wider">
                  {{function('wpautop', post._anomalous_meta_paralaxTestimonialContent)}}
                </div>

                {% if post._anomalous_meta_paralaxTestimonialAuthor %}

                  <span class="db montserrat fw7 tc persian-green">
                    {{post._anomalous_meta_paralaxTestimonialAuthor}}
                  </span>
                  
                {% endif %}
                  
              {% endif %}

            </div>
            
          {% endblock container %}

        {% endembed %}

      </div>

    {% endblock %}

  {% endembed %}

</div> 

