{# base/components/mobile-menu-modal/mobile-menu-modal.twig #}

{#
   mobile-menu-modal
   From the menu object create a menu
   @param {Array} bem (optional)
      {
         block {String}
         element {String}
         modifier {Array}
      }
   @param {Array} attrs (optional)
   {
      Mixed
   }
   @param {Timber Menu Object}
#}

{# Parameters #}
{% set headerAttrs = attrs ?? null %}
{% set headerBem = bem ?? null %}
{% set menuItems = global.header.menu.items ?? null %}
{% set dataState = state ?? 'init' %}
{% set creditsContent = post.custom._anomalous_meta_project_credits ?? null %}

{# Variables #}
{% set headerClasses = 'bg-black' %}

{# Output #}
{% import 'macros/macros.twig' as mcro %}


<div id="creditsModal" 
	class="fixed top-0 credits-modal bg-bonjour-grey vh-75 vh-50-m vh-50-l w-100 w-50-l w-50-m z-4 center absolute--fill" 
	data-state="{{dataState}}"
	style="margin-top: auto; margin-bottom: auto;"
>

	<div class="flex flex-column justify-center h-100">

		<div class="flex justify-end items-center absolute top-0 w-100">

			{% include "hamburger/hamburger.twig" with { 
				id: 'creditsModalClose', 
				state: 'open', 
				classes: 'pa3', 
				layerClasses: 'bg-persian-green'
			} %}
			
		</div>

		<div class="ph3 ph5-ns h-100">

			<div class="flex flex-column items-center justify-center h-100 pv4">

				<div>

					{% block content %}

						{{ creditsContent }}
					
					{% endblock %}

				</div>
				
			</div>

		</div>

	</div>

</div>
