@keyframes credits-slide-in-from-right {
  0% {
    left: -200vw
  }
  100% {
    left: 0
  }
};

@keyframes credits-slide-to-right {
  0% {
    left: 0
  }
  100% {
    left: -200vw
  }
};

.credits-modal[data-state=init] {
  left: -200vw;
}

.credits-modal[data-state=hide] {
  animation: .25s ease credits-slide-to-right forwards;
}

.credits-modal[data-state=show] {
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.3);
  animation: .5s ease credits-slide-in-from-right forwards;
}