// @keyframes slideBelowWindow {
//   0% { top: -20vh }
//   100% { top: 0vh }
// };

// @keyframes slideBelowWindow2 {
//   0% { top: -20vh }
//   100% { top: 10vh }
// };

// @keyframes slideAboveWindow {
//   0% { top: 0vh }
//   100% { top: -20vh }
// };

// .slide-above-window {
//   top: -20vh;
//   animation-name: slideAboveWindow;
//   animation-duration: 0.5s;
//   animation-fill-mode: forwards;
//   animation-timing-function: ease-in;
// }

// .slide-below-window {
//   animation-name: slideBelowWindow;
//   animation-duration: 0.5s;
//   animation-fill-mode: forwards;
//   animation-timing-function: ease-in;
// }

// .slide-below-window-2 {
//   animation-name: slideBelowWindow2;
//   animation-duration: 0.5s;
//   animation-fill-mode: forwards;
//   animation-timing-function: ease-in;
// }'

@keyframes textReveal {
  0% {
    opacity: 0;
    transform: translateY(20vh);
  }
  66% {
    opacity: 0.66;
    transform: translateY(20vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-reveal {
  > :not(div) {
    opacity: 0;
    transform: translateY(20vh);
    will-change: opacity, transform;
  }
  &[data-state=show] {
    :nth-child(1) {
      animation: 1s ease .6s textReveal forwards;
    }
    :nth-child(2) {
      animation: 1s ease .8s textReveal forwards;
    }
    :nth-child(3) {
      animation: 1s ease .9s textReveal forwards;
    }
    :nth-child(4) {
      animation: 1s ease 1s textReveal forwards;
    }
    :nth-child(5) {
      animation: 1s ease 1.1s textReveal forwards;
    }
    :nth-child(6) {
      animation: 1s ease 1.2s textReveal forwards;
    }
    :nth-child(7) {
      animation: 1s ease 1.3s textReveal forwards;
    }
    :nth-child(8) {
      animation: 1s ease 1.4s textReveal forwards;
    }
    :nth-child(9) {
      animation: 1s ease 1.5s textReveal forwards;
    }
  }
}

.block-reveal { 
  > * {
    opacity: 0;
    transform: translateY(20vh);
    will-change: opacity, transform;
  }
  &[data-state=show] {
    > * {
      animation: 1s ease .6s textReveal forwards;
    }
  }
}

.block-reveal-1 { 
  > * {
    opacity: 0;
    transform: translateY(20vh);
    will-change: opacity, transform;
  }
  &[data-state=show] {
    > * {
      animation: 1s ease textReveal forwards;
    }
  }
}

.block-reveal-2 { 
  > * {
    opacity: 0;
    transform: translateY(20vh);
    will-change: opacity, transform;
  }
  &[data-state=show] {
    > * {
      animation: 1s ease 1.1s textReveal forwards;
    }
  }
}

@keyframes halfBackground {
  0% {
    transform: translateX(-100vw);
    width: 100%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 50%;
    transform: translateX(0vw);
  }
}

@keyframes halfBackground75 {
  0% {
    transform: translateX(-100vw);
    width: 100%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 90%;
    transform: translateX(0vw);
  }
}

@keyframes twoToneBg {
  0% {
    // transform: translateX(-100vw);
    width: 0%;
  }
  100% {
    width: 100%; 
    // transform: translateX(0vw);
  }
}

@keyframes twoToneBg2 {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 50%;
  }
}

.half-background {
  transform: translateX(-100vw);
  width: 100%;
  will-change: width, transform;
  &[data-state=show] {
    animation: 1s ease halfBackground forwards;
  }
}

.background-75 {
  width: 90%;
  transform: translateX(0vw);
  will-change: width, transform;
  &[data-state=show] {
    animation: 1s ease halfBackground75 forwards;
  }
}

.two-tone-backgrounds {
  .two-tone-1,
  .two-tone-2 {
    will-change: width;
  }
  .two-tone-1 {
    width: 0vw;
  }
  .two-tone-2 {
    width: 0vw;
  }
  &[data-state=show] {
    .two-tone-1 {
      animation: 1.5s ease .5s twoToneBg forwards;
    }
    .two-tone-2 {
      animation: 1.5s ease 2s twoToneBg2 forwards;
    }
  }
}

.transition-1 {
  transition: .3s ease all;
}

@keyframes nearlyFullPlane {
  0% {
    transform: translateX(-100vw);
    width: 100%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 70%;
    transform: translateX(0vw);
  }
}

@keyframes nearlyFullPlaneMobile {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

.nearly-full-plane {
  will-change: width, transform;
  &[data-state=show] {
    animation: 1.5s ease nearlyFullPlaneMobile forwards;
  }
}

@media #{$breakpoint-not-small} {
  .nearly-full-plane {
    will-change: width, transform;
    &[data-state=show] {
      animation: 1.5s ease nearlyFullPlane forwards;
    }
  }
}

@keyframes slideBelowWindow {
  0% { top: -20vh }
  100% { top: 0vh }
};

@keyframes slideBelowWindow2 {
  0% { top: -20vh }
  100% { top: 10vh }
};

@keyframes slideAboveWindow {
  0% { top: 0vh }
  100% { top: -20vh }
};

.slide-above-window {
  will-change: top;
  top: -20vh;
  animation-name: slideAboveWindow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.slide-below-window {
  will-change: top;
  animation-name: slideBelowWindow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}