
// Converted Variables


// Custom Media Query Variables


/*

   ASPECT RATIOS

*/

/* This is for fluid media that is embedded from third party sites like youtube, vimeo etc.
 * Wrap the outer element in aspect-ratio and then extend it with the desired ratio i.e
 * Make sure there are no height and width attributes on the embedded media.
 * Adapted from: https://github.com/suitcss/components-flex-embed
 *
 * Example:
 *
 * <div class="aspect-ratio aspect-ratio--16x9">
 *  <iframe class="aspect-ratio--object"></iframe>
 * </div>
 *
 * */

.aspect-ratio--8x3 {  padding-bottom: 37.5%; }

@media #{$breakpoint-not-small}{
	.aspect-ratio--8x3-ns {  padding-bottom: 37.5%; }
}

@media #{$breakpoint-medium}{
	.aspect-ratio--8x3-m {  padding-bottom: 37.5%; }
}

@media #{$breakpoint-large}{
	.aspect-ratio--8x3-l {  padding-bottom: 37.5%; }
}