// Converted Variables


// Custom Media Query Variables


/*

  BOX-SHADOW
  Docs: http://tachyons.io/docs/themes/box-shadow/

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

 */
.shadow-6 { box-shadow: $box-shadow-6; }
.shadow-7 { box-shadow: $box-shadow-7}

@media #{$breakpoint-not-small} {
  .shadow-6-ns { box-shadow: $box-shadow-6; }
}

@media #{$breakpoint-medium} {

  .shadow-6-m { box-shadow: $box-shadow-6; }
}

@media #{$breakpoint-large} {
  .shadow-6-l { box-shadow: $box-shadow-6; }
}
