
// background
.bg-off-white { background-color: $off-white; }
.bg-bonjour-grey { background-color: $bonjour-grey; }
.bg-half-baked-green { background-color: $half-baked-green; }
.bg-persian-green { background-color: $persian-green; }
.bg-gravel { background-color: $gravel; }
.bg-gravel-50 { background-color: rgba($gravel, 0.5); }
.bg-gravel-75 { background-color: rgba($gravel, 0.75); }

.bg-off-white-hover:hover { background-color: $off-white; }
.bg-bonjour-grey-hover:hover { background-color: $bonjour-grey; }
.bg-half-baked-green-hover:hover { background-color: $half-baked-green; }
.bg-persian-green-hover:hover { background-color: $persian-green; }
.bg-persian-green-50-hover:hover { background-color: rgba($persian-green, 0.5); }
.bg-persian-green-75-hover:hover { background-color: rgba($persian-green, 0.75); }
.bg-gravel-hover:hover { background-color: $gravel; }
.bg-gravel-50-hover:hover { background-color: rgba($gravel, 0.5); }
.bg-gravel-75-hover:hover { background-color: rgba($gravel, 0.75); }

// colours
.off-white { color: $off-white; }
.bonjour-grey { color: $bonjour-grey; }
.half-baked-green { color: $half-baked-green; }
.persian-green { color: $persian-green; }
.gravel { color: $gravel; }

.fill-off-white { fill: $off-white; }
.fill-bonjour-grey { fill: $bonjour-grey; }
.fill-half-baked-green { fill: $half-baked-green; }
.fill-persian-green { fill: $persian-green; }
.fill-gravel { fill: $gravel; }

.off-white-hover:hover { color: $off-white; }
.bonjour-grey-hover:hover { color: $bonjour-grey; }
.half-baked-green-hover:hover { color: $half-baked-green; }
.persian-green-hover:hover { color: $persian-green; }
.gravel-hover:hover { color: $gravel; }