.subtle-dropdown-toggle {
  height: 18px;
  &:after {
    vertical-align: 0.1em;
    margin-left: 0;
  }
}

.outline-dotted {
  outline: .5px dotted;
}

.outline-dotted-focus {
  &:focus {
    outline: 1px solid;
  }
}