.flex-grow-1 { flex-grow: 1 }

@media #{$breakpoint-not-small} {
  .flex-grow-1-ns { flex-grow: 1 }
}
@media #{$breakpoint-medium} {
  .flex-grow-1-m { flex-grow: 1 }
}
@media #{$breakpoint-large} {
  .flex-grow-1-l { flex-grow: 1 }
}
