
// Converted Variables


// Custom Media Query Variables


/*

   TEXT ORIENTATION
   Docs: http://tachyons.io/docs/typography/text-transform/
   CanIUse: https://caniuse.com/#feat=css-text-orientation

   Base:
     to = text-orientation

   Modifiers
     m = mixed
     u = upright
     s = sideways

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.tou {
  text-orientation: upright;
  -webkit-text-orientation: upright;
}

@media #{$breakpoint-not-small} {
  .tou-ns {
    text-orientation: upright;
    -webkit-text-orientation: upright;
  }
}

@media #{$breakpoint-medium} {
  .tou-m {
    text-orientation: upright;
    -webkit-text-orientation: upright;
  }
}

@media #{$breakpoint-large} {
  .tou-l {
    text-orientation: upright;
    -webkit-text-orientation: upright;
  }
}