
.scale-grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  &:hover {
    transform: scale(1.1);
    z-index: 200;
  }
}
// @media #{$breakpoint-medium} {
//   .translate-down {
//     transform: translateY(15vh);
//   }
// }  

@media #{$breakpoint-large} {
  .translate-down {
    transform: translateY(15vh);
  }
}

.translateY-1 {
  transform: translateY(-1rem);
}
.translateY-2 {
  transform: translateY(-2rem);
}
.translateY-3 {
  transform: translateY(-3rem);
}