
/*

   TRANSLATE
   No Docs. Custom

   Base:
    X
    Y

   Modifiers:
     -1  = literal value translate(-50%,-50%)

*/

.translate-1 {
  transform: translate(-50%,-50%);
}

.translateY-1 {
  transform: translateY(1rem);
}