
// Monserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');
.montserrat { font-family: 'Montserrat', sans-serif; }

// Gotham
@import url('https://cloud.typography.com/6900276/6499012/css/fonts.css');
.gotham { font-family: "Gotham SSm A", "Gotham SSm B", sans-serif; }


@font-face {
  font-family: 'DIN';
  src: url('../../font/DIN Light.ttf') format('truetype');
  font-weight: normal;
  }
.din { font-family: 'DIN', sans-serif; }

@font-face {
  font-family: 'DIN';
  src: url('../../font/DIN Bold.ttf') format('truetype');
  font-weight: 700;
  }
.din-bold { font-family: 'DIN Bold', sans-serif; }

@font-face {
  font-family: 'DIN Alternate Bold';
  src: url('../../font/DIN Alternate Bold.ttf') format('truetype');
  }
.din-alternate { font-family: 'DIN Alternate Bold', sans-serif; }

@font-face {
  font-family: 'Gilroy';
  src: url("../../font/Gilroy-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: 'Gilroy';
  src: url("../../font/Gilroy-SemiBold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'Gilroy';
  src: url("../../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
}
.gilroy { font-family: 'Gilroy', sans-serif; }

.measure-wider {
  max-width: $measure-wider;
}