
// .w1 {    width: $width-1; }
// .w2 {    width: $width-2; }
// .w3 {    width: $width-3; }
// .w4 {    width: $width-4; }
// .w5 {    width: $width-5; }
// .w6 {    width: $width-6; }
// .w7 {    width: $width-7; }

// @media #{$breakpoint-not-small} {
//   .w1-ns {  width: $width-1; }
//   .w2-ns {  width: $width-2; }
//   .w3-ns {  width: $width-3; }
//   .w4-ns {  width: $width-4; }
//   .w5-ns {  width: $width-5; }
//   .w6-ns { width: $width-6; }
//   .w7-ns { width: $width-7; }
// }

// @media #{$breakpoint-medium} {
//   .w1-m { width: $width-1; }
//   .w2-m { width: $width-2; }
//   .w3-m { width: $width-3; }
//   .w4-m { width: $width-4; }
//   .w5-m { width: $width-5; }
//   .w6-m { width: $width-6; }
//   .w7-m { width: $width-7; }
// }

// @media #{$breakpoint-large} {
//   .w1-l { width: $width-1; }
//   .w2-l { width: $width-2; }
//   .w3-l { width: $width-3; }
//   .w4-l { width: $width-4; }
//   .w5-l { width: $width-5; }
//   .w6-l { width: $width-6; }
//   .w7-l { width: $width-7; }
// }

// .mw-100 {
//   min-width: 100%;
// }
