{# base/components/video.twig #}

{#
   Video

   @bem {Array} ()
    {
       block {String}
       element {String}
       modifier {Array}
    }
    @attrs (Array)
    @sources (array)
    {
      src
    }

#}
{# Parameters #}
{% set videoSources = sources ?? null %}
{% set videoThumbnail = thumbnail %}
{% set videoAttrs = attrs ?? null %}

{% set videoClasses = classes ?? null %}

{# Variables #}
{% set videoClassesDefault = 'video--block ' %}
{% set videoClasses = videoClassesDefault ~ videoClasses %}

{# Output #}
{% if videoSources %}

  <div id="backgroundVideo" class="background-video relative z-0 w-100 h-100 left-0 right-0 overflow-hidden" data-state="init">

    {% if videoSources %}

      {% set videoInnerHTML %}
    
        {% if videoSources|length > 0 %}

          {% for key,source in videoSources %}

            <source src="{{source}}" type="video/mp4"/>
            Your browser does not support the video tag.

          {% endfor %}

        {% endif %}

      {% endset %}

      <video preload="auto" loop muted autoplay name="media" class="absolute z-0 center" 
        poster="{{videoThumbnail}}"
        style="
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        overflow: hidden;"
      >
        {{videoInnerHTML}}
      </video>

    {% endif %}

  </div>

{% endif %}