{# parts/container-extra-small/container-extra-small.twig #}

{# parameters #}

{# variables #}
{% set containerClasses = classes ?? null %}

{# output #}
<div class="h-100 ph7-xl ph6-l ph5-m ph3  {{containerClasses}}">

  {% block container %}
  
  {% endblock %}

</div>