
{# parts/squares/squares.twigs #}

{# paraneters #}
{% set squaresState = state ?? 'hide' %}

<div id="squares" class="squares ph3 ph0-ns bg-white fixed z-1 w-100 vh-100" data-state="{{squaresState}}">

  <div class="flex flex-column justify-center h-100">

    {% set squaresContainerClass = '' %}
    {% if frontpageSquares|length == 5 %}
      {% set squaresContainerClass = ' five-squares' %}
    {% endif %}

    <div class="squares-container {{squaresContainerClass}} relative center flex flex-wrap">

      {% for key, item in frontpageSquares %}

        {% if loop.index == 2 and frontpageSquares|length == 5 %}
          <div class="square-outer-stack">
        {% endif %}

        {% if loop.index == 3 or loop.index == 4 %}
          {% set textAnchor = 'end' %}
          {% set textX = '100%' %}
        {% elseif loop.index == 5 and frontpageSquares|length == 5 %}
          {% set textAnchor = 'end' %}
          {% set textX = '100%' %}
        {% else %}
          {% set textAnchor = 'start' %}
          {% set textX = '0%' %}
        {% endif %}
        
        <div class="square-outer">      
          
          <a href="{{item.post.link}}" class="relative db square" id="square-{{loop.index}}">
            
            <div class="absolute absolute--fill" style="background-color: {{item.backgroundColour}};"></div>

            <div class="text-wrap absolute absolute--fill pa3">
            
              <svg class="knockout-text overflow-visible" viewBox="0 0 600 90">
                <pattern 
                        id="p-img-{{loop.index}}" 
                        viewBox="0 0 300 100"
                        patternUnits="userSpaceOnUse"
                        width="200%" height="300%"
                        x="-50%" y="100%"
                        data-gif="{{item.backgroundVideo}}">
                  <image xlink:href="{{item.backgroundImage.mobile}}" width="300" height="200"/>
                </pattern>
                <text text-anchor="{{textAnchor}}"
                      x="{{textX}}"
                      y="50%"
                      dy=".35em"
                      class="img-layer gilroy fw7 ttu tracked"
                      style="fill:url({{post.link}}#p-img-{{loop.index}})">
                  {{item.post.title}}
                </text>
                <text text-anchor="{{textAnchor}}"
                      x="{{textX}}"
                      y="50%"
                      dy=".35em"
                      class="img-layer gilroy fw7 ttu tracked"
                      style="fill:url({{post.link}}#p-img-{{loop.index}})">
                  {{item.post.title}}
                </text>
              </svg>

              <span class="off-white o-0 f6 montserrat tc lh-copy measure">
              
                {{item.smallCopy}}
                
              </span>

            </div>

          </a>

        </div> 

        {% if loop.index == 3 and frontpageSquares|length == 5 %}
          </div>
        {% endif %}  

      {% endfor %}

    </div>

    <h1 class="squares-copy gilroy fw3 f6 f4-ns tc measure-wide center lh-copy mt2 mt4-ns">{{frontpagePost.content|striptags}}</h1>

  </div>

</div>