@import '../../../sass/variables';

@keyframes squareShow {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes squareHide {
  0% {
    // transform: translateY(0);
    opacity: 1;
    top: 0;
  }
  100% {
    // transform: translateY(100vh);
    opacity: 0;
    top: -100vh;
  }
}

@keyframes fadeOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes square1 {
  0% {
    width: calc(50% - 5px);
  }
  100% {
    width: calc(0% - 5px);
  }
} // and 2 
@keyframes square3 {
  0% {
    height: calc(34.5% - 5px);
  }
  100% {
    height: calc(0% - 5px);
  }
}
@keyframes square4{
  0% {
    height: calc(65.5% - 5px);
  }
  100% {
    height: calc(0% - 5px);
  }
}

@keyframes squaresFitWindow {
  0% {
    width: 100vw;
  }
  100% {
    width: 65vw;
  }
}

@keyframes squaresFitWindowReverse {
  0% {
    width: 65vw;
  }
  100% {
    width: 100vw;
  }
}
@keyframes hideSquares {
  0% {
    top: 0
  }
  100% {
    top: -100vh;
  }
}

/**
 * Applied to all squares
 */
.square {
  transition:transform .5s ease;
  svg {
    transition:transform .5s ease;
  }
  &:hover {
    transform: scale(1.25);
    z-index: 20;
    svg {
      transform: translate(20px, 20px)
    }
    .text-wrap {
      span {
        opacity: 0.7;
      }
    } 
  }
  svg {
    position: absolute;
    width: 180px;
    height: auto;
    font-size: 8rem;
    .img-layer {
      fill: url(#p-img);
      // font-size: 120px;
      font-size: 89%;
    }
    .gradient-layer {
      fill: url(#gr-overlay);
    }
  }
}

/**
 * Global text-wrap style
 */
.text-wrap {
  display: flex;
  flex-direction: column;
  span {
    transition: .3s ease all;
  }
}

/**
 * Global container style
 */
.squares-container {
  width: 100%;
  height: 70vh;
  max-width: 550px;
}  

.squares {
  z-index: 3;
  top: 44px;
  .squares-copy, .knockout-text {
    will-change: opacity;
  }
  .square {
    will-change: width, height;
  }
  &[data-state=hide] {
    // z-index: 1;
    animation: .5s ease 1s hideSquares forwards;
    .knockout-text {
      animation: .3s ease fadeOpacity forwards;
    }
    .square-outer:nth-child(1) .square{
      animation: .5s ease .3s square1 forwards;
    }
    .square-outer:nth-child(2) .square{
      animation: .5s ease .3s square1 forwards;
    }
    .square-outer:nth-child(3) .square{
      animation: .5s ease .3s square3 forwards;
    }
    .square-outer:last-child .square,
    .square-outer:nth-child(4) .square{
      animation: .5s ease .3s square4 forwards;
    }
    .squares-copy {
      animation: .3s ease .4s fadeOpacity forwards;
    }
  }
  &[data-state=slideAway] { 
    animation: .3s ease squareHide forwards;
  }
  &[data-state=hidden] { 
    top: -100vh;
  }
  &[data-state=show] {
    top: 0;
    animation: .5s ease squareShow forwards;
  }
  &[data-state=menu-open] {
    animation: .5s ease squaresFitWindow forwards;
  }
  &[data-state=visible] {
    animation: .5s ease squaresFitWindowReverse forwards;
  }

  svg {
    z-index: 10;
  }

  .square-outer {
    &:nth-child(1) {
      width: calc(50% - 5px);
      height: calc(60% - 5px);
      margin: 0 5px 5px 0;
      .square {
        width: 100%;
        height:100%;
        margin-left: auto;
        svg {
          bottom: 20px;
          left: 20px;
        }
        &:hover {
          svg {
            transform: translate(20px, -20px)
          }
        }
      }
    }
    &:nth-child(2) {
      width: calc(50% - 5px);
      height: calc(60% - 5px);
      margin: 0 0 5px 5px;
      .square {
        width: 100%;
        height:100%;
        margin-right: auto;
        svg {
          top: 20px;
          left: 20px;
        }
        .text-wrap {
          justify-content: flex-end;
        }
      }
    }
    &:nth-child(3) {
      height: calc(40% - 5px );
      width: calc(34.5% - 5px);
      margin: 5px 5px 0 0;
      &:last-child {
        width: 100%;
      }
      .square {
        margin-bottom:auto;
        width: 100%;
        height:100%;
        svg {
          top: 20px;
          right: 20px;
        }
        &:hover {
          svg {
            transform: translate(-20px, 20px)
          }
        }
        .text-wrap {
          justify-content: flex-end;
        }
      }
    }
    &:nth-child(4) {
      &:last-child {
        height: calc(40% - 5px );
        width: calc(65.5% - 5px);
        margin: 5px 0 0 5px;
        .square {
          margin-bottom:auto;
          width: 100%;
          height:100%;
        }
      }
    }
    &:nth-child(5) {

    }

    &:last-child {
      .square {
        .text-wrap {
          justify-content: flex-start;
        }
        svg {
          bottom: 20px;
          right: 20px;
          top: initial;
          left: initial
        }
        &:hover {
          svg {
            transform: translate(-20px, -20px)
          }
        }
      }
    }
  }
}

.squares-container.five-squares {
  .square-outer:nth-child(1) {
    width: calc(60% - 5px);
    height: calc(65% - 5px);
    margin: 0 0 5px 5px;
    .square svg {
      bottom: 0;
      left: -35px;
      top: 0;
      margin: auto;
    }
    @media #{$breakpoint-xtra-small} {
      .square svg {
        left: 20px;
      }
    }
  }
  .square-outer-stack {
    display: flex;
    flex-direction: column;
    width: calc(40% - 5px);
    margin-left: 5px;
    .square-outer {
      width: calc(100% - 5px);
      height: calc(50% - 5px);
      margin: 0 0 5px 5px;
      .square svg {
        top: initial;
        bottom: 10px;
      }
      @media #{$breakpoint-xtra-small} {
        .square svg {
          left:10px;
        }
      }
      &:nth-child(2) {
        height: calc(50% - 10px);
        margin: 5px 0 5px 5px;
        .square svg {
          right: -45px;
        }
        @media #{$breakpoint-xtra-small} {
          .square svg {
            right: 20px;
            left: initial;
          }
        }
      }
    }
  }
  .square-outer:nth-child(3) {
    height: calc(35% - 5px);
    width: calc(34.5% - 5px);
    margin: 5px 5px 0 0;
  }
  .square-outer:nth-child(4) {
    height: calc(35% - 5px);
    width: calc(65.5% - 5px);
    margin: 5px 0 0 5px;
    // .square svg {
    //   right: -20px;
    // }
  }
}

@media #{$breakpoint-xtra-small} {
  .square-outer:nth-child(3) {
    .square {
      svg {
        top: 20px;
        right: 0;
        left: -45px;
      }
    }
  }
}

// only medium 
@media #{$breakpoint-medium} {
  .squares {
    top: 0;
  }
  .squares-container {
    width: 100%;
    max-width: 550px;
    height: 60vh;
  }  
  .square {
    svg {
      width: 375px;
    }
  }
  .square-outer-2 .square-2 {
    svg {
      left: -5%;
    }
  }
  .square-outer-3 .square-3 {
   svg {
      left: -37%;
    }
  }
}

// only large
@media #{$breakpoint-large} {
  .squares {
    top: 0;
  }
  .squares-container {
    width: 40vw;
    height: 60vh;
    max-width: 550px;
    max-height: 550px;
  }  
  .square {
    svg {
      width: 375px;
    }
  }
  .square-outer-2 .square-2 {
    svg {
      left: -5%;
    }
  }
  .square-outer-3 .square-3 {
   svg {
      left: -37%;
    }
  }
}

// only extra large
@media #{$breakpoint-extra-large} {
  .squares {
    top: 0;
  }
  .squares-container {
    width: 550px;
    height: 550px;
  }  
  .square {
    svg {
      width: 375px;
    }
  }
  .square-outer-2 .square-2 {
    svg {
      left: -5%;
    }
  }
  .square-outer-3 .square-3 {
   svg {
      left: -37%;
    }
  }
}