
{# Output #}
{% extends  'templates/global/global.twig' %}

{% block main %}
    
{# Style Guide Source #}

  {# Variables #}
  {% set body_classes = 'w-100 center benton-sans-regular' %}
  {% set code_highlights = true %}
  {% set style_mod = 'style-guide/style-mod.twig' %}
  {% set style_mod_code = 'style-guide/style-mod-code.twig' %}

  {% set footer = false %}
  {% set header = true %}

  <!-- ~~~~~~~~~~~~~~~~~~~~~~	-->
  <!-- Header 								-->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~	-->


  <main class="site center " id="main">

    {# {{post.meta('_anomalous_meta_testimonialContent')}} #}

    <div class="bg-white">

      <div class="bg-persian-green mb5">
      
        <div class="mw9 ph5 center white pv5">

          <h1 class="f2 fw7 ttu tracked">Style Guide</h1>
          
          <p class="lh-copy measure">This is the style guide for the Anomalous WordPress theme.</p>
          
        </div>

      </div>

      <div class="style-main ">

        {% embed style_mod with { title:'Media Queries', titleClasses: 'persian-green' } %}

          {% block markup %}

            <div class="ml3 bg-moon-gray mid-gray mb3 pv2 tc red-ns fw7-ns" style="width: 48em;">
              screen and (min-width: 48em)
            </div>

            <div class="ml3 bg-light-gray mid-gray mb3 pv2 tc fw7-m" style="width: 64em;">
             '.m': screen and (min-width: 48em) and (max-width: 64em)
            </div>
            <div class="ml3 bg-near-white mid-gray mb3 pv2 tc fw7-l" style="width: 64em;">
              '.l': screen and (min-width: 64em)
            </div> 

          {% endblock markup %}

        {% endembed %}

        {% embed style_mod with { title:'Flexbox Grids', titleClasses: 'persian-green' } %}

          {% block markup %}
                                                     {# .xs

          @media only screen and (min-width: 48em) { .sm

          @media only screen and (min-width: 64em) { .md
          @media only screen and (min-width: 75em) { .lg #}

            <div class="mw8 center">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
                  <div class="bg-blue h1 mb1 relative">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-10">
                  <div class="bg-blue h1 mb1 relative">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                  <div class="bg-blue h1 mb1 relative">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
                  <div class="bg-blue h1 mb1 relative">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-11">
                  <div class="bg-blue h1 mb1 relative">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-10 col-sm-6 col-md-8 col-lg-10">
                  <div class="bg-blue h1 mb1 relative">
                  </div>
                </div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-2">
                  <div class="bg-blue h1 mb1 relative">
                  </div>
                </div>
              </div>
            </div>

          {% endblock markup %}

        {% endembed %}

      <section class="style-guide-typography pb6">

        <h1 class="f5 fw6 ttu tracked">Typography</h1>

        {#
        ~~~~~~~~~~~~~~~~~~
        Display Headline 1
        ~~~~~~~~~~~~~~~~~~
        #}

        {% embed style_mod with { title:'Display Headline 1', titleClasses: 'persian-green' } %}

          {% block markup %}

          <code class="moon-gray f5 mb3 db">&lt;h1 class="f-headline-xl f-headline-2-l f-headline-2-m f1 lh-solid ttu fw6 persian-green"&gt;Title&lt;/h1&gt;</code>

            <h1 class="f-headline-xl f-headline-2-l f-headline-2-m f1 lh-solid ttu fw6 persian-green 
            mv0">Visual</h1>

          {% endblock markup %}

        {% endembed %}

        {#
        ~~~~~~~~~~~~~~~~~~
        Display Headline 2
        ~~~~~~~~~~~~~~~~~~
        #}

        {% embed style_mod with { title:'Display Headline 2', titleClasses: 'persian-green' } %}

          {% block markup %}

            <code class="moon-gray f5 mb3 db">&lt;h2 class="f-subheadline ttu din persian-green fw4 lh-solid"&gt;Title&lt;/h2&gt;</code>

            <h3 class="{{display2}}
             mb2">Modular Scale</h3>

          {% endblock markup %}

        {% endembed %}

        {#
        ~~~~~~~~~~~~~~~~~~
        Headlines
        ~~~~~~~~~~~~~~~~~~
        #}
        {% embed style_mod with { title:'Headlines', titleClasses: 'persian-green' } %}

          {% block markup %}
            <code class="moon-gray f5 mb3 db">&lt;h1 class="f2 din fw3 tracked"&gt;Title&lt;/h1&gt;</code>
            <h1 class="{{heading1}} {{headingStyle}}">Headline Level 1</h1>

            <code class="moon-gray f5 mb3 db">&lt;h2 class="f3 din fw3 tracked"&gt;Title&lt;/h2&gt;</code>
            <h1 class="{{heading2}} {{headingStyle}}">Headline Level 1</h1>

            <code class="moon-gray f5 mb3 db">&lt;h3 class="f4 din fw3 tracked"&gt;Title&lt;/h3&gt;</code>
            <h1 class="{{heading3}} {{headingStyle}}">Headline Level 1</h1>

          {% endblock markup %}

        {% endembed %}

        {#
        ~~~~~~~~~~~~~~~~~~
        Paragraphs
        ~~~~~~~~~~~~~~~~~~
        #}

        {% embed style_mod with { title:'Paragraphs', titleClasses: 'persian-green' } %}

          {% block markup %}

            <code class="moon-gray f4 mb3 db">&lt;p class="f6 montserrat fw3 lh-copy"&gt;Title&lt;/p&gt;</code>
            <p class="f4 montserrat fw3 lh-copy measure dib mt0 v-top mb4">
              Influences of <a href="#" class="f4 montserrat fw3 lh-copy measure mt0 v-top persian-green">Helvetica</a> included Schelter-Grotesk and Haas’ Normal Grotesk.
              Attracting considerable attention on its release as Neue Haas Grotesk, Linotype
              adopted Neue Haas Grotesk for widespread release.
            </p>

          {% endblock markup %}

        {% endembed %}


        {% embed style_mod with { title:'Display Headline 2', titleClasses: 'persian-green' } %}

          {% block markup %}

            <h3 class="{{display2}}">Modular Scale</h3>
            <p class="f4 montserrat fw3 lh-copy measure dib mt0 v-top mb4">
              Influences of <a href="#" class="f4 montserrat fw3 lh-copy measure mt0 v-top persian-green">Helvetica</a> included Schelter-Grotesk and Haas’ Normal Grotesk.
              Attracting considerable attention on its release as Neue Haas Grotesk, Linotype
              adopted Neue Haas Grotesk for widespread release.
            </p>

          {% endblock markup %}

        {% endembed %}

        {#
        ~~~~~~~~~~~~~~~~~~
        Typefaces
        ~~~~~~~~~~~~~~~~~~
        #}
        {% embed style_mod with { title:'typefaces', titleClasses: 'persian-green'} %}

          {% block markup %}

          {% set typefaces = {
            'montserrat': 'Montserrat',
            'gotham': 'Gotham',
            'din': 'DIN',
            'din-alternate-bold': 'DIN Alternate Bold',
            'gilroy': 'Gilroy',
          } %}

          <div class="dtc v-mid">

            {% for key, typeface in typefaces %}
                <h4 class="f5 mb0 mt4">{{typeface}}</h4>
                <p class="{{key}}">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                <p class="ttu {{key}}">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
            {% endfor %}

          </div>

          {% endblock markup %}

        {% endembed %}

        {#
        ~~~~~~~~~~~~~~~~~~
        Typeface Alphabets
        ~~~~~~~~~~~~~~~~~~
        #}
        {% embed style_mod with { title:'typeface alphabets', titleClasses: 'persian-green' } %}

          {% block markup %}

          {% set typefaces = {
            gilroy: {
              name: 'Gilroy',
              class: 'gilroy',
              weights: [
                {human: 'Light', machine: 'fw3'},
                {human: 'Semi Bold', machine: 'fw6'},
                {human: 'Bold', machine: 'fw7'}
              ]
            },
            din: {
              name: 'DIN',
              class: 'din',
              weights: [
                {human: 'Normal', machine: 'fw4'},
                {human: 'Bold', machine: 'fw7'}
              ]
            },
            montserrat: {
              name: 'Montserrat',
              class: 'montserrat',
              weights: [
                {human: 'Light', machine: 'fw3'},
                {human: 'Normal', machine: 'fw5'},
                {human: 'Bold', machine: 'fw7'}
              ]
            }
          } %}

          <div class="dtc v-mid">

            {% for key, typeface in typefaces %}

              <div class="mb5">
                <div class="overflow-auto {{typeface.class}}">
                  <h3 class="f-headline fw4 {{key}} mv0 bb b--black-70">{{typeface.name}}</h3>
                  <p class="f4 f2-m f1-l tracked-tight">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                  <p class="f4 f2-m f1-l ttu tracked-tight">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                  <p class="f4 f2-m f1-l tracked">1234567890 !@#$%^&amp;*()</p>
                  <p class="f4 f2-m f1-l tracked">œ∑´®†¥¨ˆøπ“‘«åß∂ƒ©˙∆˚¬…æΩ≈ç√∫˜µ≤≥÷</p>
                </div>
                <section>
                  <h3 class="f5 ttu fw4 persian-green">Font Weights</h3>

                  {% for weight in typeface.weights %}
                    <div class="w-100 overflow-x-auto">
                      <table class="mt4">
                        <caption class="f5 ttu tl pb3 persian-green">{{weight.human}}</caption>
                        <tbody><tr>
                          <td class="tc f-headline {{typeface.class}} {{weight.machine}} br b--black-10 v-base">A</td>
                          <td class="tc ph2 br f-subheadline {{typeface.class}} br b--black-10 v-base">A</td>
                          <td class="tc f1 {{typeface.class}} {{weight.machine}} br b--black-10 v-base">A</td>
                          <td class="tc f2 {{typeface.class}} {{weight.machine}} br b--black-10 v-base">A</td>
                          <td class="tc f3 {{typeface.class}} {{weight.machine}} br b--black-10 v-base">A</td>
                          <td class="tc f4 {{typeface.class}} {{weight.machine}} br b--black-10 v-base">A</td>
                          <td class="tc f5 {{typeface.class}} {{weight.machine}} br b--black-10 v-base">A</td>
                          <td class="tc f5 {{typeface.class}} {{weight.machine}} b--black-10 v-base">A</td>
                        </tr>
                        <tr>
                          <td class="tc gray f5 pr2 br b--black-10 pt1">11.4375rem (96px)</td>
                          <td class="tc gray f5 ph2 br b--black-10 pt1">3rem (48px)</td>
                          <td class="tc gray f5 ph2 br b--black-10 pt1">2.5rem (40px)</td>
                          <td class="tc gray f5 ph2 br b--black-10 pt1">1.5rem (24px)</td>
                          <td class="tc gray f5 ph2 br b--black-10 pt1">1.25rem (20px)</td>
                          <td class="tc gray f5 ph2 br b--black-10 pt1">1rem (16px)</td>
                          <td class="tc gray f5 ph2 br b--black-10 pt1">875rem (14px)</td>
                          <td class="tc gray f5 pl2 b--black-10 pt1">.6875rem (11px)</td>
                        </tr>
                      </tbody></table>
                    </div>
                  {% endfor %}

                </section>
                <section class="{{key}} pt4 mt4 bt b--black-70 measure f2">
                  <p class="f5 f3-l lh-copy {{typeface.name}}">
                    Like News Gothic, Benton Sans follows the neo-grotesque model. Distinct characters are the two-story lowercase "a", the two-story lowercase "g", and a blunt terminus at the apex of the lowercase "t". The tail of the uppercase "Q" is distinct for being located completely outside the bowl. The character set is compact, and descenders are shallow. The typeface differs from other realist sans-serifs in its organic shapes and subtle transitions of stroke width, all contributing to a less severe, humanist tone of voice. Benton Sans has a wider, less compact character set than News Gothic. The typeface includes text figures (old style figures) providing a refinement not available in News Gothic.
                  </p>
                  <div class="db">
                    <h1 class="f2 {{typeface.class}} fw8 tracked">Headline Level 1</h1>
                    <p class="f4 {{typeface.class}} lh-copy mr4-l mt0 v-top">
                    Over the years, a wide range of variants have been released in
                    different weights, widths and sizes, as well as matching designs
                    for a range of non-Latin alphabets. Notable features of Helvetica
                    as originally designed include the termination of all strokes on
                    horizontal or vertical lines and unusually tight letter spacing,
                    which give it a dense, compact appearance.
                  </p>
                  </div>
                  <div class="db">
                    <h2 class="f3 {{typeface.class}} fw8 tracked">Headline Level 2</h2>
                    <p class="f4 {{typeface.class}} lh-copy mt0 v-top">
                    Influences of Helvetica included Schelter-Grotesk and Haas’ Normal Grotesk.
                    Attracting considerable attention on its release as Neue Haas Grotesk, Linotype
                    adopted Neue Haas Grotesk for widespread release.
                  </p>
                  </div>
                  <div class="db">
                    <h3 class="f4 {{typeface.class}} fw8 tracked">Headline Level 3</h3>
                    <p class="f4 {{typeface.class}} lh-copy mt0 v-top">
                    Like many neo-grotesque designs, Helvetica has narrow apertures, which limit
                    its legibility onscreen and at small print sizes. It also has no visible
                    difference between upper-case ‘i’ and lower-case ‘L’, although the number 1 is
                    quite identifiable with its flag at top left.
                  </p>
                  </div>
                </section>

              </div>

            {% endfor %}

          </div>

        {% endblock markup %}

        {% endembed %}

        {#
        ~~~~~~~~~~~~~~~~~~~~~~~~
        Colors
        ~~~~~~~~~~~~~~~~~~~~~~~~
        #}
        {% embed style_mod with {title:'Colors', titleClasses: 'persian-green'} %}

          {% block markup %}
            <table class="border-collapse w-100 mw6" cellspacing="0" cellpadding="0">
              <tbody class="black-60 f5">

                {% set colors = {
                    'off-white': 'off-white',
                    'bonjour-grey': 'bonjour-grey',
                    'half-baked-green': 'half-baked-green',
                    'persian-green': 'persian-green',
                    'gravel': 'gravel'
                } %}

                {% for key, color in colors %}
                  <tr>
                    <td class="bb b--{{key}} bg-{{key}} pa4"></td>
                    <td class="bb b--{{key}} {{key}} ph4 f4">Aa</td>
                    <td class="bb b--{{key}}">{{key}} {{color}};</td>
                  </tr>
                {% endfor %}                  

              </tbody>
            </table>
          {% endblock markup %}

        {% endembed %}

      </section>

      <section class="style-guide-menus pb6">
§
        {% embed style_mod with {title:'Icons', titleClasses: 'persian-green'} %}

          {% block markup %}

            <img src="{{site.theme.uri}}/dist/img/png/full-logo.png" class="full-logo db mb4" />
            <img src="{{site.theme.uri}}/dist/img/png/visual-logo.png" class="visual-logo db mb4" />
            <img src="{{site.theme.uri}}/dist/img/png/events-logo.png" class="events-logo db mb4" />
            <img src="{{site.theme.uri}}/dist/img/png/space-logo.png" class="space-logo db mb4" />
            <img src="{{site.theme.uri}}/dist/img/png/down-arrow.png" class="down-arrow db mb4" />
            <img src="{{site.theme.uri}}/dist/img/png/big-quote.png" class="big-quote db mb4" />

            <div class="bg-bonjour-grey pa3 mb4">
              <a href="" class="dib h2 mr2 persian-green dim">
                <img src="{{site.theme.uri}}/dist/img/png/facebook-logo-persian-green.png" class="facebook-logo db center h2 mr2" />
              </a>
              <a href="" class="dib h2 mr2 persian-green dim">
                <img src="{{site.theme.uri}}/dist/img/png/instagram-logo-persian-green.png" class="instagram-logo db center h2 mr2" />
              </a>
              <a href="" class="dib h2 mr2 persian-green dim">
                <img src="{{site.theme.uri}}/dist/img/png/linkedin-logo-persian-green.png" class="linkedin-logo db center h2 mr2" />
              </a>
              <a href="" class="dib h2 mr2 persian-green dim">
                <i<img src="{{site.theme.uri}}/dist/img/png/vimeo-logo-persian-green.png" class="vimeo-logo db center h2 mr2" />
              </a>
              <a href="" class="dib h2 mr2 persian-green dim">
                <img src="{{site.theme.uri}}/dist/img/png/youtube-logo-persian-green.png" class="youtube-logo db center h2 mr2" />
              </a>
              <a href="" class="dib h2 mr2 persian-green dim">
                <img src="{{site.theme.uri}}/dist/img/png/soundcloud-logo-persian-green.png" class="soundcloud-logo db center h2 mr2" />
              </a>
            </div>

            <div class="bg-gravel pa3">
              <a href="" class="dib h2 mr2 white dim">
                <img src="{{site.theme.uri}}/dist/img/png/facebook-logo-white.png" class="facebook-logo db center h2 mr2" />
              </a>
              <a href="" class="dib h2 mr2 white dim">
                <img src="{{site.theme.uri}}/dist/img/png/instagram-logo-white.png" class="instagram-logo db center h2 mr2" />
              </a>
              <a href="" class="dib h2 mr2 white dim">
                <img src="{{site.theme.uri}}/dist/img/png/linkedin-logo-white.png" class="linkedin-logo db center h2 mr2" />
              </a>
              <a href="" class="dib h2 mr2 white dim">
                <i<img src="{{site.theme.uri}}/dist/img/png/vimeo-logo-white.png" class="vimeo-logo db center h2 mr2" />
              </a>
              <a href="" class="dib h2 mr2 white dim">
                <img src="{{site.theme.uri}}/dist/img/png/youtube-logo-white.png" class="youtube-logo db center h2 mr2" />
              </a>
              <a href="" class="dib h2 mr2 white dim">
                <img src="{{site.theme.uri}}/dist/img/png/soundcloud-logo-white.png" class="soundcloud-logo db center h2 mr2" />
              </a>
            </div>

          {% endblock markup %}

        {% endembed %}

      </section>

      <section class="style-guide-menus pb6">

        <h1 class="f5 fw6 ttu tracked">Headers</h1>
      
        {% embed style_mod with { title:'Desktop Header', titleClasses: 'persian-green' } %}

          {% block markup %}

            {% include "parts/header/header.twig" %}
            {% include "parts/menu-modal/menu-modal.twig"  %}
            {% include "parts/contact-modal/contact-modal.twig"  %}

          {% endblock markup %}

        {% endembed %}

        {% embed style_mod with { title:'Visual Header', titleClasses: 'persian-green' } %}

          {% block markup %}

            {% include "parts/header/header.twig" with { logoURL: 'visual-logo.png', logoClass: 'visual-logo' } %}

          {% endblock markup %}

        {% endembed %}

        {% embed style_mod with { title:'Events Header', titleClasses: 'persian-green' } %}

          {% block markup %}

            {% include "parts/header/header.twig" with { logoURL: 'events-logo.png', logoClass: 'events-logo' } %}

          {% endblock markup %}

        {% endembed %}
      
        {% embed style_mod with { title:'Space Header', titleClasses: 'persian-green' } %}

          {% block markup %}

            {% include "parts/header/header.twig" with { logoURL: 'space-logo.png', logoClass: 'space-logo' } %}

          {% endblock markup %}

        {% endembed %}

      </section>
      
      <section class="style-guide-menus pb6">

        <h1 class="f5 fw6 ttu tracked">Menu</h1>

      {% embed style_mod with { title:'Main menu', titleClasses: 'persian-green' } %}

        {% block markup %}

          <div>	
            <div class=" flex flex-column justify-center items-center h-100">

              {% include 'parts/menu/menu.twig' 	with {
                menu: global.menus.primary.items,
              } %}

            </div>
          </div>

          <div>		
            <div class=" flex flex-column justify-center items-center h-100">

              {% include 'parts/menu/menu.twig' with {
                menu: global.menus.secondary.items,
              } %}

            </div>
          </div>

        {% endblock markup %}

      {% endembed %}

       {% embed style_mod with { title:'Main menu', titleClasses: 'persian-green' } %}

        {% block markup %}

          {% include 'parts/categories-menu/categories-menu.twig' 	with {
            menu: global.menus.workCategories.items,
          } %}

        {% endblock markup %}

      {% endembed %}

      </section>
      
      <section class="style-guide-menus pb6">

        <h1 class="f5 fw6 ttu tracked">Menu</h1>

        {% embed style_mod with { 
          class: '',
          title:'Hero Right', 
          titleClasses: 'persian-green'
        } %}

          {% block markup %}

            {% include "parts/hero-right/hero-right.twig"  %}

          {% endblock markup %}

        {% endembed %}

        {% embed style_mod with { 
          class: '',
          title:'Hero Simple', 
          titleClasses: 'persian-green'
        } %}

          {% block markup %}

            {% include "parts/hero-simple/hero-simple.twig"  %}

          {% endblock markup %}

        {% endembed %}

      </section>

      <section class="style-guide-menus pb6">

        {% embed style_mod with {
           class: '', 
           title:'Services Content', 
           titleClasses: 'persian-green',
          } %}

          {% block markup %}

            {% include "parts/services-content/services-content.twig" %}

          {% endblock markup %}

        {% endembed %}

         {% embed style_mod with { 
            class: '', 
            title:'Testimonial Parallax', 
            titleClasses: 'persian-green' 
          } %}

          {% block markup %}

            {% include "parts/testimonial-parallax/testimonial-parallax.twig" %}

          {% endblock markup %}

        {% endembed %}

        {% embed style_mod with { 
          class: '', 
          title:'Services Point of Contact', 
          titleClasses: 'persian-green' 
        } %}

          {% block markup %}

            {% include "parts/point-contact/point-contact.twig" %}

          {% endblock markup %}

        {% endembed %}

        {% embed style_mod with { class: '',  title:'Clients', titleClasses: 'persian-green' } %}

          {% block markup %}

            {% include "parts/clients-carousel/clients-carousel.twig" %}

          {% endblock markup %}

        {% endembed %}

        {% embed style_mod with { class: '',  title:'Footer', titleClasses: 'persian-green' } %}

          {% block markup %}

            {% include "parts/footer/footer.twig" %}

          {% endblock markup %}

        {% endembed %}

        {% embed style_mod with { title:'Work Links', titleClasses: 'persian-green' } %}

          {% block markup %}

            <h3 class="{{display2}} tc ma0 pv4 pv5-l">Recent Events</h3>

            <div class="flex flex-column flex-row-m flex-row-l flex-wrap-m flex-wrap-l">

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pv1">
            
                {% include "parts/post-link/post-link.twig" %}

              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pv1">
            
                {% include "parts/post-link/post-link.twig" %}

              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pv1">
            
                {% include "parts/post-link/post-link.twig" %}

              </div>

            </div>

          {% endblock markup %}

        {% endembed %}

          {% embed style_mod with { title:'Video', titleClasses: 'persian-green' } %}

          {% block markup %}

            {% include "parts/video/video.twig" with { 
              classes: 'work-video',
              sources: [ post.custom._anomalous_meta_contentVideovideoURL ],
              attrs: { 'data-state': 'paused' },
              playIcon: 'play-icon-white'
            } %}


            {% include "parts/video/video.twig" with { 
              classes: 'work-video',
              sources: [ post.custom._anomalous_meta_contentVideovideoURL ],
              attrs: { 'data-state': 'paused' },
              playIcon: 'play-icon'
            } %}

          {% endblock markup %}

        {% endembed %}

        {% embed style_mod with { title:'Entry Content', titleClasses: 'persian-green' } %}

          {% block markup %}

            {% include "parts/entry-content/entry-content.twig" %}

            {% include "parts/entry-content-right-aligned/entry-content-right-aligned.twig" %}

          {% endblock markup %}

        {% endembed %}


        {% embed style_mod with { 
          title:'Entry Content & Video', 
          titleClasses: 'persian-green',
          class: ''} %}

          {% block markup %}

          <div class="relative">

            <div class="absolute absolute--fill dn flex-l justify-between">

              <div class="col-xs-12 col-md-6 col-lg-6 
                flex flex-column justify-end
              ">
              </div>

              <div class="col-xs-12 col-md-6 col-lg-6 
                bg-bonjour-grey
                flex flex-column justify-end
              ">
              </div>

            </div>	

            <div class="pv5 ph4 ph5-m ph5-l ph6-xl">

              <div class="row">

                <div class="col-lg-6 col-md-6 col-xs-12 
                  ph3-m ph3-l ph4-xl
                  mb3 mb4-m
                ">

                  {% include "parts/entry-content-right-aligned/entry-content-right-aligned.twig" %}

                </div>
                
                <div class="col-lg-6 col-md-6 col-xs-12
                  ph3-m ph3-l ph4-xl 
                  flex flex-column justify-center
                ">

                  {% include "parts/video/video.twig" with { 
                    classes: 'work-video translate-down',
                    sources: [ post.custom._anomalous_meta_contentVideovideoURL ],
                    attrs: { 'data-state': 'paused' },
                    playIcon: 'play-icon-white'
                  } %}

                </div>
                
              </div>

            </div>

          </div>

          {% endblock markup %}

        {% endembed %}

        {% embed style_mod with { 
          title:'Video & Testimonial', 
          titleClasses: 'persian-green',
          class: ''
        } %}

          {% block markup %}

            <div class="relative bg-persian-green">

              <div class="absolute absolute--fill dn flex-l justify-between">

                <div class="col-xs-12 col-md-6 col-lg-6 
                  bg-half-baked-green
                  flex flex-column justify-end
                ">
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 
                  bg-persian-green
                  flex flex-column justify-end
                ">
                </div>

              </div>	

              <div class="z-2 pv5 ph4 ph5-m ph5-l">

                <div class="row">

                  <div class="col-lg-6 col-md-6 col-xs-12 
                  flex flex-column justify-center
                  ph3-m ph3-l ph4-xl
                  mb4 mb0-l mb0-xl">

                    {% include "parts/video/video.twig" with { 
                      classes: 'work-video translate-down',
                      sources: [ post.custom._anomalous_meta_contentVideovideoURL ],
                      attrs: { 'data-state': 'paused' },
                      playIcon: 'play-icon-white'
                    } %}

                  </div>
                
                  <div class="col-lg-6 col-md-6 col-xs-12 
                  ph3-m ph3-l ph5-xl
                  relative">

                    {% include "parts/testimonial/testimonial.twig" with {
                      content: post._anomalous_meta_testimonialContent,
                      author:  post._anomalous_meta_testimonialAuthor,
                      classes: 'off-white'
                    } %}
                    
                  </div>

                </div>
                
              </div>

            </div>

          {% endblock markup %}

        {% endembed %}

         {% embed style_mod with { 
          title:'Gallery', 
          titleClasses: 'persian-green',
          class: ''
        } %}

          {% block markup %}

           {% include "parts/gallery/gallery.twig" with { imagesArray: post.custom._anomalous_meta_gallery } %}

          {% endblock markup %}

        {% endembed %}

      </section>

      </div> <!-- /style-main -->

    </div> <!-- /style-content -->

  </main>

{% endblock %}