
  {# 
    templates/single-work/single-work.twig 
  #}

  {# Service 

    @param {Array} mainVideo
      videoURL' {String}
      videoFallbackImage {String}

    @param {Array} testimonial
      testimonialContent {String} 
      testimonialAuthor {String}

    ---- template #2 ----

    @param {Array} contentVideo
      {String} url
      {String} fallbackImage

    @param {String} testimonialVideo
      {String} url
      {String} fallbackImage
  #}

  {# Parameters #}
  {% set pagePost = post %}

  {# Output #}
  {% if pagePost is not null %}

    {% extends  'templates/app/app.twig' %}
    
    {% import 'macros/macros.twig' as mcro %}

    {% block app %}

      <div class="pt6 bg-off-white" id="workPost">

        <section class="" id="mainContentSection">

         {% embed "parts/container-extra-small/container-extra-small.twig" %}

            {% block container %}

              <div class="relative mw7 center">

                <div class="pv5">

                  <h1 class="{{display2}} ma0 mb3">
                    {{pagePost.title ?? 'No Title'}}
                  </h1>

                  {{pagePost.content}}

                </div>

              </div>

            {% endblock container %}

          {% endembed %}

        </section>

      </div>
      
    {% endblock app %}

  {% endif %}

