
<div id="teamContent" class="w-100 fixed vh-90 flex-column flex-row-m flex-row-l dn dn-m col-md-4 col-lg-4 flex-l flex-row items-center right-0 bottom-0 z-3"> 

  {# create the fixed sidebar #}
  {% for post in directors %}

    <div class="absolute gallery-item-target" id="{{post.slug}}" data-state=""> 

      <h2 class="{{headline1}} persian-green ttu tracked">{{post.post_title}}</h2>
      <h3 class="{{heading1}} {{headingStyle}} mb0">{{post._anomalous_meta_teamMemberPosition}}</h3>
      {{post.content}}

    </div>

  {% endfor %}

  {# create the fixed sidebar #}
  {% for post in teamMembers %}

    <div class="absolute gallery-item-target" id="{{post.slug}}" data-state=""> 
      <h2 class="{{headline1}} persian-green ttu tracked">{{post.post_title}}</h2>
      <h3 class="{{heading1}} {{headingStyle}} mb0">{{post._anomalous_meta_teamMemberPosition}}</h3>
      {{post.content}}
    </div>
  {% endfor %}

</div>