
@import './../../../sass/variables';


@media #{$breakpoint-large} {
  .gallery-item-target {
    display: none;
    padding-right:60px;
    &[data-state=active] {
      display:block;
    }
  }
  .team-members-gallery {
    .gallery-link {
      .progressive-image-overlay {
        transform: translateX(0);
        transition: .3s ease all;
        z-index: 9;
        opacity:0;
        background: rgba($persian-green ,0.3);
      }
      // &[data-state=active] {
      //   .progressive-image-overlay {
      //     opacity: 1;
      //   }
      //   .gallery-item { 
      //     transform: scale(2.08);
      //   }
      // }
      &:hover {
        .progressive-image-overlay {
          opacity: 1;
        }
      }
    }
  }
}

// .team-members-gallery {
//   .gallery-link {
//     &[data-state=active] {
//       .gallery-item {
//         transform: scale(1);
//       }
//     }
//   }  
// }

// @media #{$breakpoint-large} {
//   .team-members-gallery {
//     .gallery-link {
//       &[data-state=active] {
//         .gallery-item {
//           transform: scale(2.08);
//         }
//       }
//     }  
//   }
// }