
  {# 
    templates/archive-team-member/archive-team-member.twig 
  #}

  {# Team Member Archive
    @param {Array} teamMembers
      {Object} (post object)
  #}

  {# Parameters #}
  {% set pageTeamMembers = teamMembers ?? null %}

  {# Variables #}
  {% set appAttrs = null %}

  {# Output #}
  {% if pageTeamMembers is not null %}

    {% extends  'templates/app/app.twig' %}
    
    {% import 'macros/macros.twig' as mcro %}

    {% block app %}

      <div 
        class=" dn db-m db-l absolute z-1 right-0 h-100 w-100 ml-auto hero-overlay bg-bonjour-grey half-background top-0"
        data-state="show"
      ></div>

      <div class="pt6 pb6 relative bg-off-white" id="pageTeam">

        <section class="relative z-2" id="">

         {% embed "parts/container-large/container-large.twig" %}
            {% block container %}

            <div class="text-reveal" id="directorTitle">
            
              <h1 class="{{display2}} persian-green">team</h1>

              {{function('wpautop', post.content)}}

            </div>

            <div class="block-reveal-2 mb4" id="directorPosts">

              <div class="flex flex-column
              flex-row-m flex-row-l"> 

                <div class="col-xs-12 col-sm-12 col-md-8
                flex flex-wrap"> 

                  <div class="mb5 mb0-l
                    flex
                    team-members-gallery
                    flex-wrap
                    col-md-12
                    col-lg-12">
                  
                  {# create the grid #}
                  {% for post in directors %}

                    {# {% if loop.index % 3 == 0 %}
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"></div>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"></div>
                    {% endif %} #}
                    
                    <a class="db col-xs-12 col-sm-6 col-md-4 col-lg-4 pa2 
                    gallery-link team-gallery-link
                    mb4-m" href="#{{post.slug}}"> 

                      {% include "parts/progressive-image/progressive-image.twig" with { 
                        obj: post.featuredImage,
                        ratio: '1x1',
                        classes: 'z-1 progressive-image-background gallery-item '
                      } %}

                    </a>

                    <div class="db db-m dn-l
                    col-sm-6 
                      pl4-m
                      mb4 mb0-ns">
                      <h2 class="{{display2}} persian-green">{{post.post_title}}</h2>
                      <h3 class="{{heading1}} {{headingStyle}} mb0">{{post._anomalous_meta_teamMemberPosition}}</h3>
                      {{post.content}}
                    </div>

                  {% endfor %}
                  
                  </div>

                </div>  

                <div class="dn dn-m db-l 
                relative
                col-sm-4 col-md-4
                pl3-l
                flex-l flex-column justify-start"> 

                  {# create the fixed sidebar #}
                  {% for post in directors %}

                    <div class="absolute gallery-item-target" 
                    {# id="{{post.slug}}"  #}
                    data-state=""> 

                      <h2 class="{{headline1}} persian-green ttu tracked">{{post.post_title}}</h2>
                      <h3 class="{{heading1}} {{headingStyle}} mb0">{{post._anomalous_meta_teamMemberPosition}}</h3>
                      {{post.content}}

                    </div>

                  {% endfor %}

                </div>  

              </div>

            </div>

            <div class="text-reveal" id="teamMemberTitle">
            
              <h1 class="{{display2}} persian-green">Collective</h1>

              {{function('wpautop', post.collectiveContent)}}

            </div>

            <div class="block-reveal-2" id="teamMembersPosts">

              <div class="flex flex-column
              flex-row-m flex-row-l"> 

                <div class="col-xs-12 col-sm-12 col-md-8
                flex flex-wrap"> 


                  <div class="mb5 mb0-l
                    flex
                    team-members-gallery
                    flex-wrap
                    col-md-12
                    col-lg-12">
                  
                  {# create the grid #}
                  {% for post in teamMembers %}
                    
                      <a class="db col-xs-12 col-sm-6 col-md-4 col-lg-4 pa2 
                      gallery-link team-gallery-link
                      mb4-m" href="#{{post.slug}}"> 

                        {% include "parts/progressive-image/progressive-image.twig" with { 
                          obj: post.featuredImage,
                          ratio: '1x1',
                          classes: 'z-1 progressive-image-background gallery-item '
                        } %}

                      </a>

                      <div class="db db-m dn-l
                      col-sm-6 
                       pl4-m
                       mb4 mb0-ns">
                        <h2 class="{{display2}} persian-green">{{post.post_title}}</h2>
                        <h3 class="{{heading1}} {{headingStyle}} mb0">{{post._anomalous_meta_teamMemberPosition}}</h3>
                        {{post.content}}
                      </div>

                  {% endfor %}
                  
                  </div>

                </div>  

                <div class="dn dn-m db-l 
                relative
                col-sm-4 col-md-4
                pl3-l
                flex-l flex-column justify-start"> 

                  {# create the fixed sidebar #}
                  {% for post in teamMembers %}

                    <div class="absolute gallery-item-target" 
                    {# id="{{post.slug}}"  #}
                    data-state=""> 
                      <h2 class="{{headline1}} persian-green ttu tracked">{{post.post_title}}</h2>
                      <h3 class="{{heading1}} {{headingStyle}} mb0">{{post._anomalous_meta_teamMemberPosition}}</h3>
                      {{post.content}}
                    </div>
                  {% endfor %}

                </div>  

              </div>

            </div>
            
            
            {% endblock %}
          {% endembed %}
          
        </section>

      </div>

    {% endblock %}

  {% endif %}