
  {# 
    templates/frontpage/frontpage.twig 
  #}

  {#
    Frontpage
    @param {Array} frontpageSquares
  #}

  {# Parameters #}
  {# {% set frontpageSquares = frontpageSquares ?? null %} #}

  {# Variables #}
  {% set appAttrs = null %}


  {# Output #}
  {% extends  'templates/global/global.twig' %}

  {% block main %}

    {# Output #}
    
    {% if frontpageSquares is not null %}
    
      {% import 'macros/macros.twig' as mcro %}

      {% include "parts/header/header.twig" with  { headerClassnames: 'fixed'} %}
      {% include "parts/menu-modal/menu-modal.twig"  %}
      {% include "parts/contact-modal/contact-modal.twig" %}
      {% include "parts/squares/squares.twig" with { state: 'show' } %}

    {% include "parts/vertical-btn/vertical-btn.twig" with { title: 'contact' } %}


    {% endif %}

    <main id="main" class="z-2 relative" data-state="hide">

      {% include 'parts/footer/footer.twig' %}
      
    </main>

  {% endblock %}

