{# templates/global/global.twig #}

  {#
  *  @name global
  *  @file templates/global.twig
  *  @requires ajax.twig, template.twig
  *  @usedby
  #}

  {# Global #}

  {# Parameters #}

  {# Variables #}

  {# Output #}

  {% extends request_body.ajax == 1 ? 'templates/minimal/minimal.twig': 'templates/html/html.twig' %}

    {% block body %}

      {% block main %}{% endblock %}

    {% endblock %}
