
{# parts/categories-menu/categories-menu.twig #}

{#
   Categories Menu
   

#}

{# Parameters #}
{% set categoriesMenuItems = menu ?? null %}

{# Variables #}

{# Output #}
{% if categoriesMenuItems %}

  {% import 'macros/macros.twig' as mcro %}

  <nav class="flex flex-column flex-row-m flex-row-l items-start flex-wrap relative z-1">

    {% for item in categoriesMenuItems %}

      <div class="flex flex-column">

        <div class="mr4">

          <a href="{{item.link}}" class="db mb3 no-underline tracked-mega persian-green gravel-hover f3 f2-ns ttu din {{item.class}}">
            / {{item.title}}
          </a>

          {% if item.children %}

            <div class="dn flex flex-column mb3"> 

              {% for child in item.children %}

                {% if child.children %}

                  <div class="btn-group flex justify-between">

                    <a href="{{child.link}}" class="db mb3 no-underline tracked-mega persian-green gravel-hover f5-ns din {{child.class}}">
                      {{child.title}}
                    </a>

                    <button type="button" class="bg-transparent ba0 persian-green bn ml1 mb2 
                    outline-dotted outline-dotted-focus subtle-dropdown-toggle
                    dropdown-toggle dropdown-toggle-split pointer" 
                    id="dropdownMenuReference" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false"
                    data-reference="parent">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>

                    <div class="dropdown-menu b--persian-green b--dotted shadow-7 pa0 pt3" aria-labelledby="dropdownMenuReference">
                      {% if child.children %}

                        <div class="z-2 bg-off-white flex flex-column w-100 ph2 "> 

                          {% for child in child.children %}

                            <div>

                              <a href="{{child.link}}" class="db mb3 no-underline tracked-mega persian-green gravel-hover f5-ns din {{child.class}}">
                                {{child.title}}
                              </a>

                            </div>

                          {% endfor %}

                        </div>
                      
                      {% endif %}

                    </div>
                    
                  </div>

                {% else %}
                    
                    <a href="{{child.link}}" class="db mb3 no-underline tracked-mega persian-green gravel-hover f5-ns din {{child.class}}">
                      {{child.title}}
                    </a>

                {% endif %}

              {% endfor %}

            </div>
          
          {% endif %}
        
        </div>

      </div>

    {% endfor %}

  </nav>

{% endif %}
