
  {# 
    templates/single-work/single-work.twig 
  #}

  {# Service 

    @param {Array} mainVideo
      videoURL' {String}
      videoFallbackImage {String}

    @param {Array} testimonial
      testimonialContent {String} 
      testimonialAuthor {String}

    ---- template #2 ----

    @param {Array} contentVideo
      {String} url
      {String} fallbackImage

    @param {String} testimonialVideo
      {String} url
      {String} fallbackImage
  #}

  {# Parameters #}
  {% set workPost = post %}

  {# Output #}
  {% if workPost is not null %}

    {% extends  'templates/app/app.twig' %}
    
    {% import 'macros/macros.twig' as mcro %}

    {% block app %}

    <div class=" dn db-m db-l absolute z-index right-0 h-100 w-100 ml-auto hero-overlay bg-bonjour-grey half-background top-0" 
      data-state="show">
    </div>

      <div class="pt6 bg-off-white" id="workPost">

        <section id="heroSection" class="hero-video-section">

          {% embed "parts/container-large/container-large.twig" %}

            {% block container %}

              <div class="block-reveal" id="workTemplate2HeroVideo">

                {% if post.custom.postVideoDirect %}
      
                  {% include "parts/video/video.twig" with { 
                    classes: 'work-video',
                    sources: [ post.custom.postVideoDirect.0.url ],
                    poster: post.custom.postVideoDirect.0.poster,
                    attrs: { 'data-state': 'paused' },
                    playIcon: 'play-icon-white'
                  } %}  

                {% elseif post.custom.postVideoIframe %}
                    
                  {% include "parts/iframe-video/iframe-video.twig" with { 
                    iframe: post.custom.postVideoIframe.0,
                  } %}  

                {% else %}

                  {% include "parts/progressive-image/progressive-image.twig" with { 
                    obj: post.featuredImage,
                    ratio: '16x9',
                    classes: 'z-1 progressive-image-background',
                    id: 'workHeroImage'
                  } %}

                {% endif %}
              
              </div>

            {% endblock container %}

          {% endembed %}

        </section>

        <section class="" id="mainContentSection">

         {% embed "parts/container-large/container-large.twig" %}

            {% block container %}

              <div class="relative">

                <div class="pv5">

                  <div class="row">

                    <div class="col-lg-6 col-md-6 col-xs-12 
                      pr0-m pr3-l pr4-xl
                      mb3 mb4-m flex justify-center
                    ">

                      {% include "parts/entry-content-right-aligned/entry-content-right-aligned.twig" with {
                        id: 'workTemplate3EntryContent'
                      } %}

                    </div>
                    
                    <div class="col-lg-6 col-md-6 col-xs-12
                      pl0-m pl3-l pl4-xl 
                      flex flex-column justify-end
                    ">

                      {% include "parts/progressive-image/progressive-image.twig" with { 
                        obj: post.featuredImage,
                        ratio: '16x9',
                        classes: 'z-1 progressive-image-background slide-in-image',
                        id: 'workFeaturedImage'
                      } %}                      

                    </div>
                    
                  </div>

                </div>

              </div>

            {% endblock container %}

          {% endembed %}

        </section>

        <section id="testimonialSection">

          {% include "parts/testimonial-parallax/testimonial-parallax.twig" %}

        </section>

        <section id="gallerySection" class="pv5 block-reveal">

          {% include "parts/gallery/gallery.twig" with {
             imagesArray: post.custom._anomalous_meta_gallery 
          } %}

        </section>

      </div>
      
    {% endblock app %}

  {% endif %}

