
{# Variables #}
{% set hamburgerClasses = classes ?? null %}
{% set hamburgerLayerClasses = layerClasses ?? null %}
{% set hamburgerId = id ?? null %}
{% set hamburgerState = state ?? null %}

{# Variables #}
{% set hamburgerClassesDefault = 'hamburger ' %}
{% set hamburgerClasses = hamburgerClassesDefault ~ hamburgerClasses %}

{% set hamburgerLayerClassesDefault = 'hamburger__layer ' %}
{% set hamburgerLayerClasses = hamburgerLayerClassesDefault ~ hamburgerLayerClasses %}

{# Output #}
{% import 'macros/macros.twig' as mcro %}

{% set hamburgerInnerHTML %}

   {{ mcro.createHTMLTag('div', {}, hamburgerLayerClasses) }}
   {{ mcro.createHTMLTag('div', {}, hamburgerLayerClasses) }}
   {{ mcro.createHTMLTag('div', {}, hamburgerLayerClasses) }}

{% endset %}

{{ mcro.createHTMLTag('div', {id : hamburgerId, 'data-state': hamburgerState}, hamburgerClasses , hamburgerInnerHTML) }}
