
%hamburger {
	display: none;
	display: block;
	border-radius: 3px;
	cursor: pointer;
	height: 24px;
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	-o-box-sizing: initial;
	-ms-box-sizing: initial;
	box-sizing: initial;
	-moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	-o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);

	&[data-state=open] {
		%hamburger__layer {
			&:first-child{
				transform: rotate(45deg) translateX(7px) translateY(8px);
			}
			&:nth-child(2) {
				background:transparent;
			}
			&:last-child {
				transform: rotate(-45deg) translateX(6px) translateY(-8px);
			}

		}
	}
}

%hamburger__layer {
	height: 5px;
	margin-bottom: 5px;
	width: 32px;
	transition: .3s ease-in-out;
}

.hamburger { @extend %hamburger; }
.hamburger__layer { @extend %hamburger__layer; }
